$pink:#DE0B8C;
$yellow:#FFCB05;
$black:#242426;
$black2:#757575;
$background:#F6F6F8;
$border:#ddd;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,800&display=swap');
@mixin shadow {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
}
@mixin float-display {
    display: inline-block;
    width: 100%;
}
body{
    color: $black;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
	font-size: 14px;
    line-height: 26px;
    color: $black;
	font-weight: 400;
	letter-spacing: 0px;
	position: relative;
	overflow-x: hidden
}

.services-section{
    .services-item{
        padding: 0 20px;
    }
}
.title-section{
    font-size: 28px;
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #242426;
    text-transform: uppercase;
    font-weight: 400;
}
.phone-hotline, .mail-footer{
    @include float-display();
    a{
        color: $pink;
        img{
            float: left;
            margin: 0 10px 0 0;
        }
        span{
            font-size: 22px;
            float: left;
        }
    }
}
.hair-lager-blogs{
    .infor-blogs-lager{
        background: none !important;
        padding:20px 0 0 0;
    }
    
    
}
.primary-header{
    position: relative;
    padding-top: 40px;
}
.lager-blogs{
    margin-bottom: 30px;
}
.blogs-secetion{
    .lager-blogs >a {
        position: relative;
    padding-top:57%;
    display: block;
    background: #fff;

    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
    }
}
.small-blogs{
    h6{
        a{
            font-size: 16px !important;
            line-height: 22px !important;

            display: -webkit-box;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .title-blogs{
        margin-bottom: 6px !important;
    }
}

.infor-blogs-lager{
    background: $background;
    padding: 15px;
    .title-blogs{
        text-transform: uppercase;
        font-size: 13px;
        color: $black2;
        margin-bottom: 0;
        @include float-display();
        font-weight: 600;
        &:hover{
            color: $pink;             

        }
    }
    h6{
        a{
            color: $black;line-height: 30px;
            font-size: 20px;
            display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
        }
        &:hover{
            a{
                color: $pink;
            }
        }
    }
}
.dl-menu li.active > a{
    color: $pink !important;
}
.dl-menu li.active ul li.active a{
    color: $pink !important;
}
.menu-footer{
    h3{
        text-transform: uppercase;
        font-size: 14px;
    }
    a{
        font-size: 13px;
        margin-bottom: 7px;
        @include float-display();
        color: $black2;

        &:hover{
            color: $pink;
        }
    }
}
.form-dk{
    @include float-display();
    position: relative;
    padding-left: 100px;
    margin-bottom: 10px;
    label{
        position: absolute;
        left: 0;
        top: 5px;
        color: $black2;
    }
    input{
        width: 100% !important;
        height: 35px !important;
    }
    textarea{
        width: 100%;
        border:1px solid #eee;
        padding: 15px;
        height: 100px;
        border-radius:2px;
        &:focus{
            border: 1px solid $pink !important;
            outline: none;
        }
    }
}

.title-section-blogs{
    @include float-display();
    position: relative;
    padding: 0 15px;
    h2{
        font-size: 32px;
        color: $black;
        padding-bottom: 10px;
        font-weight: normal;
        position: relative;
        border-bottom: 1px solid $border;
        &::after{
            height: 2px;
            width: 100px;
            background: $pink;
            content: '';
            display: block;position: absolute;
            bottom: -1px;
        }
        a{
            color: $black;
        }
    }
}
.hair-section-blogs{
    background: #FAEDF5;
    .small-blogs-hair{
        display: flex;
        .infor-small-hair-blogs{
            a{
                color: $black;
                font-size: 16px;
                line-height: 22px;
                &:hover{
                    color: $pink;
                }
            }
        }
    }
}

.sub-cate-blogs-section{
    .lager-blogs {
        margin-bottom:0px;
    }
}
.page-services-slide{
    .services-item{
        padding: 0 15px;
        .detail-btn{
            background: $yellow;
            color: $black;
            border: 1px solid $yellow;
        }
    }
}
.page-header-services-detail{
    img{
        width: 100%;
    }
}

.services-detail-body{
    width: 1000px;
    margin: auto;
    h1{
        color: $black;
        font-size: 32px;
    }
    h2{
        color: $black;
        margin-top: 20px;
        font-size: 22px; 
    }

    img{

        margin-bottom: 10px;
    }
}
.services-secetion-page{
    .services-item{
        margin-bottom: 60px;
    }
    .page-services-slide{
        margin-bottom: 60px;
        .services-item{
            margin-bottom: 0px;
        }
    }
}
.footer-section{
    border-top: 1px solid $border;
}
.nails-lager-columns{
    margin-bottom: 0 !important;
}
.small-blogs-hair > a{
    position: relative;
    padding-top: 30%;
    display: block;
    background: #fff;
    width: 170px;
    margin-right: 20px;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
}
.section-nail-blogs{
    .infor-blogs-lager{
        background: none !important;
        padding: 10px 0;
        a{
            display: -webkit-box;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    h6{
        a{
            font-size: 14px !important;
            line-height: 22px !important;
            display: -webkit-box;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .title-blogs{
        margin-bottom: 6px !important;
    }
}
.section-nail-blogs > a{
    padding-top: 90% !important;
    position: relative;
    display: block;
    background: #fff;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
}
.cate-sub-section{
    padding-bottom: 0 !important;
    .lager-blogs.small-blogs > a{
        padding-top:65% !important;
    }
}
.pagging-page{
    text-align: center;
    @include float-display();
    margin-bottom: 30px;
    ul{
        li{
            a{
                font-weight: normal;
                color: $black;
                &.active, &:hover{
                    background: $pink;
                    border-color: $pink;
                }
            }
        }
    }
}
.sub-cate-blogs-section{
    .lager-blogs > a{
        padding-top: 57% !important;
    position: relative;
    display: block;
    background: #fff;
    img{

    }
    }
}
.book-appoiment{
    text-transform: uppercase;
    color: white !important;
    img{
        float: left;
        margin-top: 13px;
        margin-right: 5px;
    }
}
.nails-lager-columns{
    .content-lager-colums{
    
        display: inline-block;
        padding: 15px;
        width: 100%;
        .infor-blogs-lager{
            margin-top: -60px;
            border-top: 10px solid $yellow;
            background: white !important;
            position: relative;
            z-index: 9;
        }
    }

}

.nails-lager-columns{
    .infor-blogs-lager{
        background: none !important;
    }
    h6{
        a{
            font-size: 16px !important;
            line-height: 22px;
        }
    }
}
.send-appoiment{
    text-align: right !important;
    margin-top: 0 !important;
    a{
        width: auto !important;
        color: white !important;
    }
}
.social-footer{
    @include float-display();
    margin-bottom: 15px;
    text-align: center;
    a{
        padding: 0 3px;
    }
}
.mail-footer{
    img{
        margin-top: 5px !important;
    }
    span{
        font-size: 16px !important;
        color: $black;
    }
}
.services-item{
    h3{
        color: $black;
        font-size: 16px;
        a{
            color: $black;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    b{
        color: $pink;
        padding-left: 20px;
    }
}
.page-header{
    background-size: cover;
    h1{
        text-transform: uppercase;
        position: relative;
        font-size: 36px;
        &::after{
            content: '';
            display: block;
            height: 2px;
            width: 100px;
            background: $yellow;
            margin: 7px auto;
        }
    }
}
.price-box{
    position: relative;
    margin-bottom: 15px;
    span{
        text-decoration:line-through;
    }
}
.item-product{
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    margin-top:50px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    padding-bottom: 20px;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
    span{
        text-decoration: line-through;
        color: $black2;
    }
    b{
        color: $pink;
        padding-left: 20px;
    }
    &:hover{
        box-sizing: border-box;
        box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        .btn-product{
            background: $yellow !important;
            border-color: $yellow !important;
        }
    }
}
.item-product > a{
    position: relative;
    padding-top: 110%;
    display: block;
    background: #fff;
    margin-bottom:15px;
    margin-top: 30px;
}
.contact-hot{
    width: 100%;
    display: flex;
    img{
        float: left;
        height: 24px;
        margin-right: 10px;
    }

    a{
        font-size:24px;
        color: $black;
    }
}
.search{
    border: 1px solid $border;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    padding-left: 45px;
    margin: 20px 0;
    i{
        position: absolute;
        font-size: 20px;
        left: 15px;
        top: 15px;
        color: $black2;
    }
    input{
        width: 100%;
        border: 0;
        outline: none;
    }
}
.hotline-contact{
    display: flex;
}
.mail-contact{
    display: flex;
    a{
        font-size: 18px;
    }
}
.check-pw{
    label{
        font-size: 13px;
        font-weight: normal;
    }
}

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container2 .checkmark:after {
    left: 4px;
    top: -3px;
    width: 5px;
    height: 10px;
    font-family: themify;
    content: "\e64c";
    color: $pink;
  }


.account-background{
    background: #fff;
    margin-top: 7px;
    .slidebar-account{
        min-height: 100vh;
        background: #f5f5f5;
        margin-top: 40px;
        padding: 20px;
        .head-account{
            display: flex;
            h6{
                font-weight: 600;
                font-size: 15px;
                color: $black;
            }
            .avatar{
                position: relative;
                margin-right: 15px;
                .change-btn{
                    position: absolute;
                    right: -4px;
                    bottom: -3px;
                }
            }
        }
    }   
}
.menu-acc{
    ul{
        li{
            padding: 8px 0;
            a{
                display: flex;
                
                i{
                    font-size: 16px;
                    color: $black2;
                    margin-right: 10px;
                    display: inline-block;
                    margin-top: 4px;
                }
                span{
                    color: $black;
                }
                &:hover, &.active{
                    i, span{
                        color: $pink;
                    }
                }
            }
        }
    }
}
.list-appoiment{
    table{
        background: white;
        thead{
            background: $pink;
            th{
                color: white;
                border: 0;
                font-size: 13px;
                padding: 5px 10px;
            }
        }

        tbody{
            tr{
                td{
                    font-size: 13px;
                    border: 1px solid $border;
                    padding: 5px 10px;
                }
            }
        }
    }
}
.page-form-infor{
    h1{
        color: $black;
        font-size: 18px;
        margin: 0;
        padding: 20px 0 0 0;
        text-transform: uppercase;
    }
    form{
        padding: 20px;
        background: white;
        border: 1px solid #D6D6D6;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        border-radius: 4px;
        .item-form{
            margin-bottom: 20px;
            label{
                font-size: 13px;
            }
            input{
                border: 1px solid $border;
                margin: 0;
                padding: 0 10px;
                border-radius: 2px;
                outline: none;
                box-shadow: none;
                width: 100%;
                height: 40px;
                color: $black2;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                &:focus{
                    border: 1px solid $pink;
                }
            }
            i, span{
                color: $black2;
            }
        }
    }
}
.infor-location{
    ul{
        li{
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $border;
            i{
                font-size: 17px;
                color: $black2;
            }
            .location-item{
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                i{
                    margin-right: 5px;
                    margin-top: 5px;
                    color: $pink;
                }
            }
            h2{
                font-size: 18px;
                color: $black;
                text-transform: uppercase;
                
            }
        }
    }
}
.map-body{
    iframe{
        width: 100%;
        height: 400px;
    }
}


.location-box{
    iframe{
        width: 100%;
        height: 650px;
    }
}
.box-appoiment{
    width: 600px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.gallery-item{
    background: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 40px;
    &:hover{
        .infor-album{
            a{
                p{
                    color: $pink;
                }
            }
        }
    }
}
.gallery-item > a{
    position: relative;
    padding-top: 100%;
    display: block;
    background: #fff;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
}
.gallery-thumnail{
    img{
        width: 33.3%;
        cursor: pointer;
        padding:15px;
        &:hover{
            transform: scale(1.1);
        }
    }
    .row{
        display: table !important;
    }
}

.title-gallery{
    padding: 20px 0;
    h2{
        margin-top: 0;
        font-size: 24px;
        color: $black;
        padding-top: 0;
    }
   
}
.description-gallery{
    padding-right: 20px;
    p{
        font-size: 14px;
        padding-right: 20px;
        display: -webkit-box;
    -webkit-line-clamp:15;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
}
.account-logined{
    i{
        font-size: 11px;
    }
}
.appoiment-btn-popup{
    text-align: left !important;
    
    .header-right.btn-viewall{
        a{
            padding: 0 30px !important;
        }
    }
}
.popup-gallery{
    .modal-body{
        padding: 0;
        .single-slide{
            a{
                position: relative;
                padding-top:110%;
                display: block;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    .modal-dialog {
        max-width: 1000px;
        margin:100px auto;
    }
    .modal-content{
        border-radius: 0;
        position: relative;
        .modal-close{
            position: absolute;
            right: -40px;
            top: -30px;
            span{
                font-size: 20px;
            }
        }
    }
    .modal-close{
        position: relative;
        z-index: 1;
        button{
            box-shadow: none;
            border: 0;
            background: #FFCB05;
            padding: 0 10px;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            box-shadow: none;
            border: 0;
            outline: none;
            text-align: center;
            opacity: 1 !important;
            cursor: pointer;
            span{
                font-size: 16px !important;
                border: 0;
                text-shadow: none;
                color: $black2;
            }
        }
    }
}






/* Custom labels: the container */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  	position: absolute;
	  opacity: 0;
cursor: pointer;}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 1px solid $pink;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: $pink;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.radiobtn{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn{
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn{
    background-color: #ffffff;
    border: 1px solid $pink;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
    top: 5px;
    left: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $pink;
}
.sex-infor{
    display: flex;
    margin-top: 0px;
    label{
        margin-right: 10px;
    }
}
.infor-album{
    a{
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        line-height: 22px;
        font-weight: 500;
        display: inline-block;
        width: 100%;
        padding: 15px;
        color: $black;
        p{
            margin:0;
            line-height: 22px;
        font-weight: 500;
        display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
        }
    }
}
.btn-product{
    display: inline-block;
    width: 100px;
    border-radius: 2px;
    border: 1px solid #ddd;
    color: #1111;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    padding: 4px 0px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    a{
        color: #484848;
        width: 100%;
        display: inline-block;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
    }
    &:hover{
        background: $yellow;
        border: 1px solid $yellow;
        color: $black2;
    }
}
.detail-btn{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #111;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    padding: 4px 17px;
}
.product-section{
    background: $background;
}
.service-card{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    overflow: hidden;
    &:hover{
        box-sizing: border-box;
        box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        h3{
            a{
                color: $pink;
            }
        }

        .detail-btn{
            background: $yellow;
            border: 1px solid $yellow;
            color: $black2;
        }
    }
}
.slider-MB{
    display: none !important;
}
.btn-viewall{
    margin: auto;
    cursor: pointer;
    a{
        padding: 0 20px !important;
    }
    label{
        float: left;
    }

    img{
        float: left;
        margin: 13px 0 0 6px !important;
    }
}
.infor-newspaper{
    .btn-viewall{
        float: right;
    }
}
.btn-view-cart{
    @include float-display();
    text-align: center;
    .viewall{
        margin-top: 0 !important;
    text-align: right;
    }
}
.viewall{
    display: inline-block;
    width: 100%;
    margin-top: 30px;visibility: initial !important;
    text-align: center;
    a{
        height: 44px;
        display: inline-block;
        border-radius: 50px;
        background: #DE0B8C;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding-top: 9px;
        span{
            float: left;
            margin: 0px 0 0 27px;
        }
        b{
            color: $pink;
        }
        img{
            float: left;
            margin: 4px 0 0 7px;
        }
        &:hover{
            opacity: .8;
        }
    }
}

h3{
    color: #242426;
    font-size: 16px;
    a{
        color: #242426;
        font-size: 16px;
    }
    &:hover{
        color: $pink;
        a{
            color: $pink;
        }
    }
}
.sticky-fixed-top{
    .head-top {
        display: none;
    }
    .header-logo{
        img{
            height: 70px;
            margin: 0;
        }
    }
    .primary-header {
        position: relative;
        padding-top: 0;
    }
}

.gallery-section{
    padding: 60px 0;
    
    .box-bst{
        margin-top: 30px;
    }
    .gallery-box{
        min-height: 520px;
        @include float-display();
        
    }
}
.item-bts{
    position: relative;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
    position: relative;
    padding-top: 90%;
    display: block;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;


    }
    &:hover{
        .inforbts{
            display: flex !important;
            opacity: 1;
        }
        img{
            transform: scale(1.2);
        }
    }
}
.infor-gallery{
    display: none;
    // width: 598px;
    overflow: hidden;
    h5{
        a{
            font-size: 24px;
            color: $black;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .price-box{
        span{
            color: $black2;
        }
        b{
            color: $pink;
            padding-left: 10px;
            font-size: 16px;
        }
    }
    &:hover{
        .detail-btn{
            background: $yellow;
            border: 1px solid $yellow;
            color: $black2;
        }
        h5{
            a{
                color: $pink;
            }
        }
    }
}
.current_item{
    .infor-gallery{
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        border-radius:0 0 4px 4px;
        text-align: left;
        padding: 15px;
    }
}
.bts-lager {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
  }
  .next-arrow-gallery{
    border: 1px solid #8d9aa8;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #8d9aa8;
    border-radius: 50%;
    text-align: center;
    top: 230px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 0;
    left: auto;
    i{
        color: $black2;
    }
    a{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: left;
        line-height: 40px;
        left: 0;
        padding-left: 11px;
    }
  }
  .prev-arrow-gallery{
    border: 1px solid #8d9aa8;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #8d9aa8;
    border-radius: 50%;
    text-align: center;
    top: 230px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 0;
    i{
        color: $black2;
    }
    a{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: left;
        line-height: 40px;
        left: 0;
        padding-left: 11px;
    }
  }
  .show-popup-cart{
      display: block !important;
  }
  .total-cart{
      padding: 10px 15px;
      padding-bottom: 0;
      display: flex;
      p{
          text-align: right;
          width: 100%;
          margin-bottom: 0;
      }
      strong{
          font-size: 20px;
          color: $pink;
          font-weight: normal;
          float: right;
          margin-left: 10px;
      }
  }
  .popup-cart{
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: rgba(0, 0, 0, 0.7);
      left: 0;
      display: none;
  }
  .show-popup-sign-in{
      display: block !important;
  }
  .popup-sign-in{
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    .content-signin{
        width: 500px;
        margin: auto;
        align-items: center;
        padding-top: 100px;
    }
    .body-signin{
        background: white;
        
        .head-singin{
            position: relative;
            padding: 10px 15px;
            border-bottom: 1px solid $border;
            h2{
                font-size: 18px;
                margin: 0;
                padding: 0;
                color: $black;
                text-transform: uppercase;
            }
            i{
                position: absolute;
                right: 15px;
                top: 18px;
                cursor: pointer;
                font-size: 16px;
                color: $black;
            }
        }
    }
}


/*-- slider product detail --*/

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.lSPager.lSGallery li{
    opacity:.4;
}
.lSPager.lSGallery li.active{
    opacity:1;
    border: 1px solid #dfdfdf;
}
.lSSlideOuter {
    text-align: center;
}
.signup-box{
    position: absolute;
    right: 50px;
    top: 15px;
}
.social-box-signin{
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid $border;
    margin:20px 0;
    display: flex;
    text-align: center;
    border-radius: 2px;
    a{
        @include float-display();
    }
    img{
        background: none !important;
        float: none;
        margin-right: 5px;
    }
    span{
        color: $black;
        float: none;
    }
}
.or-box{
    
    @include float-display();
    margin-top: 20px;
    position: relative;
    text-align: center;
    &::after{
        border-top: 1px solid $border;
        content: '';
        display: block;
        width: 100%;
        margin-top: -12px;
    }
    span{
        background: white;
        padding: 10px 20px;
        text-align: center;
        margin-top: -20px;
    }
}
.signup-box{
    @include float-display();
    text-align: right;
    a{
        color: $pink;
    }
}
  .bottom-view-cart{
      position: fixed;
      bottom: 0;
      background: white;
      border-top: 1px solid $border;
      width: 100%;
      right: 0;
      width: 350px;
  }
  .popup-cart-content{
      position: absolute;
      right: 0;
      top: 0;
      width: 350px;
      height: 100vh;
      background: white;
      overflow-y: auto;
      padding-top: 40px;
      ul{
        margin-top: 20px;
        margin-bottom: 0;
        li{
            position: relative;
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid $border;
            img{
                height: 70px;
                padding: 0 15px;
            }
            .infor-cart{
                b{
                    font-weight: 500;
                    color: $black;
                    font-size: 16px;
                    &:hover{
                        color: $pink;
                    }
                }
                .price-box{
                    margin-top:5px;
                    b{
                        color: $pink;
                        margin-left: 15px;
                    }
                    span{
                        color: $black2;
                        font-size: 13px;
                    }
                }
            }
            .close-item-product{
                position: absolute;
                right: 10px;
                top: 18px;
                cursor: pointer;
                line-height: 22px;
                width: 25px;
                height: 25px;
                border: 1px solid #ddd;
                border-radius: 50%;
                text-align: center;
                align-items: center;
                i{
                    font-size: 11px;
                }
                &:hover{
                    background: $yellow;
                    border: 1px solid $yellow;
                }
            }
        }
      }
  }
  .btn-signin{
      visibility: inherit !important;
      margin-top: 0;
      margin: auto;
      float: right;
      text-align: center;
      a{
          display: flex;
          text-align: center;
      }
      label{
          width: auto !important;
          padding-left: 16px;   
      }
      img{
        float: left;
        margin: 12px 0 0 4px !important;
      }
  }
  .forgot-passw{
    text-align: right;
    margin-bottom: 20px;
    float: left;
    width: auto;
      a{
          color: $black;
      }
  }
  .form-sign{
      @include float-display();
      padding: 20px 20px;
      label{
          @include float-display();
      }
      input{
          width: 100% !important;
          padding: 0 10px;
          height: 40px !important;
          border-radius: 2px;
          border: 1px solid $border;
          outline: none;
          &:focus{
              border: 1px solid $pink;
          }
      }
  }
  .item-sign{
      margin-bottom: 20px;
  }
  .title-cart-popup{
      padding: 10px 15px;
      position: fixed;
      width: 350px;
      right: 0;
      background: white;
      z-index: 999;
      top: 0;
      border-bottom: 1px solid $border;
      h2{
          font-size: 16px;
          text-transform: uppercase;
          padding: 0;
          margin: 0;
          color: $black;
          font-weight: 600;
          span{
              text-transform: none;
              font-size: 14px;
              color: $black2;
              margin-left: 15px;
              font-weight: normal;
          }
      }
      i{
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        right: 15px;
        cursor: pointer;
        top: 22px;;
      }
  }
.inforbts{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    opacity: 0;
    align-items: center;
    left: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    background:rgba(0, 0, 0, 0.4);
    a{
        @include float-display();
        text-align: center;
        h4{
            text-transform: uppercase;
            color: white;
            @include float-display();
            position: relative;
            &::after{
                width: 60px;
                height: 1px;
                background:$yellow;
                display: block;
                content: '';
                margin: auto;
            }
        }
        p{
            color: white;
        }
    }
}
.container{
    position: relative;
}
.head-top{
    position: absolute;
    right: 30px;
    top: -24px;
    
}
.blogs-section{
    background: $background;
}
.item-bst-small{
    float: left;
    width: 570px;
    .item-bts{
        float: left;
        width: 50%;
        
    }
}
.promotion-secetion-page{
    .head-link-promotion{
        background: #f4f4f4;
        margin-bottom: 30px;
        ul{
            text-align: center;
            padding: 0;
            li{
                padding: 0;
                display: inline-block;
                a{
                    padding: 15px 20px;
                    display: inline-block;
                    text-align: center;
                    color: $black;
                    font-weight: 500;
                    text-transform: uppercase;
                    position: relative;
                    &::after{
                        height: 3px;
                        width: 100%;
                        display: block;
                        content: '';
                        background: #f4f4f4;
                        margin-top: 13px;
                        margin-bottom: -15px;
                    }
                    &.active{
                        color: $pink;
                        &::after{
                            height: 3px;
                            width: 100%;
                            display: block;
                            content: '';
                            background: $pink;
                            margin-top: 13px;
                            margin-bottom: -15px;
                        }
                    }
                }
            }
        }
    }
}

.list-promotion{
    .services-item{
        margin-top: 50px;
    }
    .col-lg-4{
        .detail-btn{
            opacity: 0;
        }
        &:hover{
            .detail-btn{
                opacity: 1;
            } 
        }
    }
}
.box-search{
    float: left;
    margin:0 15px;
    background: $background;
    border-radius: 50px;
    input{
        height: 28px;
        border: 0;
        outline: none;
        width: 140px;
        background: none;
        padding: 0 10px;
    }
    i{
        margin-right: 10px;
    }
}
.change-brand{
    float: left;
    margin: 0 10px;
    img{
        float: left;
        margin-right: 5px;
    }
    i{
        margin-right: 5px;
        float: left;
        margin-top: 6px;
    }
    span{
        float: left;
        font-size: 13px;
        color: $black;
    }
    a{
        &:hover{
            i,span{
                color: $pink !important;
            }
            i{
                &::before{
                    color: $pink !important;
                }
            }
        }
    }
}
.service-thumb{
    a{
        position: relative;
    padding-top: 70%;
    display: block;
    background: #fff;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        z-index: 0;
    }
    }
}
.social-box{
    float: left;
    
    a{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
        background: $background;
        text-align: center;
        margin: 0 3px;
        padding-top: 2px;
        i{
            color: #686868;
        }
        &:hover{
            background: $pink;
            i{
                color: white;
            }
        }
    }
}
.account-head{
    i{

        color: $black2;
        font-size: 9px;
        margin: 10px 0 0 5px;
    }img{
        height: 20px;
        margin: 2px 5px 0 0 !important;
        float: left;
    }

}
.box-bst{
    display: grid;
    grid-template-columns:50%  25% 25%;
    grid-gap: 0px;
}
.smal-blogs{
    ul{
        li{
            position: relative;
            display: flex;
            margin-bottom: 30px;
            a{
                float: left;
            }
            .infor-blogs{
                width: 100%;
            }
            a{
                font-size: 14px;
                font-weight: normal;
                color: $black;
                text-decoration: none !important;
            }
            &:hover{
                a{
                    color: $pink !important;
                }
            }
        }
    }
}
.infor-news-lager h3 a{
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.avatar-small-news{
    float: left;
    width: 390px;
    a{
        width: 100%;
    }
}
.error-section{
    .error-body{
        text-align: center;
        img{
            height: 300px;
        }
    }
}
.error-body{
    width: 700px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    margin:100px auto;
    padding: 20px;
    text-align: center;
    span{
        font-size: 16px;
        width: 100%;
        padding: 20px 0;
        display: inline-block;
    }
    label{
        float: none;
        text-transform: none;
        font-weight: normal;
    }
}
.img-before-after{
    width: 100%;
    position: relative;
    padding-top: 68%;
    display: block;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
}
.smal-blogs ul li a, .news-paper-blogs .infor-newspaper h4 a{
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-paper-blogs .infor-newspaper p{
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-product h3 a{
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cart-head{
    float: left;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    img{
        float: left;
    }
    span{
        position: absolute;
        top: 0px;
        right: -17px;
        width: 22px;
        height: 22px;
        background: #FFCB05;
        text-align: center;
        font-size: 11px;
        color: #242426;
        border-radius: 50%;
        padding: 0;
        line-height: 20px;
    }
}.infor-blogs{
    padding-left: 0;
    a{
        padding: 0;
        @include float-display();
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .title-cate{
        text-transform: uppercase;
        color: $black2 !important;
        font-weight: normal !important;
        font-size: 13px;
        &:hover{
            color: $yellow !important;
            text-decoration: underline;
        }
    }
}

.blogs-section{
    background: $background;
}
.lager-news{
    background: #FFFFFF;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    a{img{
        width: 100%;
    }}
}
.lager-news > a{
    position: relative;
    padding-top: 57%;
    display: block;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
}
.avatar-small-news{
    a{
        position: relative;
    padding-top: 57%;
    display: block;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
    }
}
.infor-news-lager{
    padding: 15px 20px ;
    @include float-display();
    label{
        text-transform: uppercase;
        font-size: 12px;
        color: $black2;
    }
    h3{
        @include float-display();
        a{
            font-size: 22px;
        }
    }
}
.photo-customer-section{
    background: url(../img/background-photo.svg) no-repeat center top;
    @include float-display();
    h2{
        color: white;
    }
    i{
        color: white !important;
        border-color: white !important;
    }
    ul{
        li{
            button{
                background: white !important;
            }
            &.slick-active{
                button{
                    background: $yellow !important;
                }
            }
        }
    }
}
.news-paper-section{
    background: $yellow;
    h2{
        color: $black;
    }
    i{
        color: white !important;
        border-color: white !important;
    }
    ul{
        li{
            button{
                background: white !important;
            }
            &.slick-active{
                button{
                    background: #f1ba18 !important;
                }
            }
        }
    }
}
.after-before-customer{
    @include float-display();
    padding: 0 15px;
    img{
        width: 100%;
    }
    p{
        text-align: center;
        margin-top: 20px;
        @include float-display();
        b{
            font-size: 18px;
            color: white;
            font-weight: 600;
            @include float-display();
        }
        span{
            font-size: 14px;
            color: white;
            @include float-display();
        }
    }
}
.news-paper-blogs{
    .viewall {
        text-align: right;
        margin: 0;
    }
    position: relative;
    img{
        width: 140px;
        position: absolute;
        left: 10px;
        top: 20px;
    }
    padding: 20px;
    background: white;
    padding-left: 170px;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.13);
border-radius: 4px;
    .infor-newspaper{
        
        h4{
            a{
                font-size: 16px;
                color:$black;
                font-weight: 600;
            }

            &:hover{
                a{
                    color: $pink !important;
                }
            }
        }
        p{
            font-size: 13px;
        }
        img{
            position: relative !important;
            width: 18px !important;
            left: auto !important;
            top: auto !important;
            margin-top: 4px;
        }
    }
}

.tab-slide-head{
    ul{
        border: 0;
        margin-bottom: 20px;
        text-align: center;
        width: 563px;
        margin: auto;
        li{
            padding: 0 20px;
            &.active{
                a{
                    .icon-tabs{
                        margin-bottom: 20px;
                        display: inline-block;
                        img{
                            &.icon-default{
                                display: none;
                            }
                            &.icon-active{
                                display: block;
                            }
                        }
                        border: 1px solid $pink;
                        background: white;
                    } 
                }
            }
            a{
                color: $black2;
            }
        }
    }
    a{
        &.active{
            .icon-tabs{
                img{
                    &.icon-default{
                        display: none;
                    }
                    &.icon-active{
                        display: block;
                    }
                }
                border: 1px solid $pink;
                background: white;
            }
            span{
                color: $pink;
            }
        }
    }
}
.tab-content{
    margin-top: 30px;
    @include float-display();
}

.icon-tabs{
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    background: #F5F5F5;
    margin: auto;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    img{
        margin: auto;
        &.icon-default{
            display: block;
        }
        &.icon-active{
            display: none;
        }
    }
}





/*-- slider css--*/
/* fixme: rename choose_slider_items to animated-slider or something */

.choose_slider_items li {
	position: relative;
	list-style: none;
	display: none;
	text-align: center;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
}
.choose_slider_items li > a{
    position: relative;
    padding-top: 70%;
    display: block;
    background: #fff;
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;

    }
}
.choose_slider_items .previous_hidden {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.0;
	position: absolute;
	top: 40px;
	left: -5%;
	z-index: 0;
}

.choose_slider_items .next_hidden {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.0;
	position: absolute;
	top: 40px;
    // left: 525px;
    right: -5%;
	z-index: 0;
}

.choose_slider_items .previous_item {
	display: block;
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	background: white;
	position: absolute;
	top: 40px;
	left: 8%;
    z-index: 1;
    
    width: 50%;
    img{
        opacity: 0.65;
    }
}

.choose_slider_items .next_item {
	display: block;
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	
	position: absolute;
	top: 40px;
    // left: 431px;
    right: 8%;;
    z-index: 1;
    width: 50%;
    background: white;
    img{
        opacity: 0.65;
    }
}


.choose_slider_items .previous_item_2 {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	background: white;
	position: absolute;
	top: 40px;
    // left: -5px;
    left: -5%;
    z-index: 0;
    width: 50%;
    img{
        opacity: 0.35;
    }
}

.choose_slider_items .next_item_2 {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	background: #fff;
	position: absolute;
	top: 40px;
    // left: 525px;
    right: -5%;
    z-index: 0;
    width: 50%;
    img{
        opacity: 0.35;
    }
}


.choose_slider_items .current_item {
	display: block;
	position: absolute;
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	top: 0;
	left: 25%;
    z-index: 2;
    width: 50%;
    
}
.tab-content-services{
    margin-top: 20px;
}
.tab-body-services{

    .tab-content-services.active{
        display: block !important;
    }
}
.breadcrumb{
    padding: 0;
    background: none;

    padding: 10px 0;
a, span{
    font-size: 12px;
    float: left;
    color: $black2;
}	


a{
    &:hover{
        color: $pink;
    }
}
i{
    float: left;
    margin-top: 6px;
}
span{
    font-size: 10px;
    margin: 8px 10px;
}
}
.calendar-details{
    i, span{
        color: $black2;
    }
}


.blogs-detail{
    h1{
        color: $black !important;
        font-weight: normal;
        font-size: 38px;
        margin-bottom: 0;
    }
    img{
        max-width: 100%;
        margin-bottom: 20px;
    }
    h2{

        font-size: 24px;
        color: $black;
        margin-bottom: 20px;
    }
    p{
        text-align: justify;
    }
}
.tag{

    @include float-display();
    margin-top: 20px;
    a{
        padding: 5px 10px;
        border: 1px solid $pink;
        border-radius: 50px;
        color: $pink;

        &:hover{
            background: $pink;
            color: white;
        }
    }
}
.share{
    text-align: right;
    @include float-display();
    float: right;
    margin-top: 20px;
    display: flex;
    width: auto;
    img{
        margin: 0 3px;
    }

}
.title-head-blogs-other{
    position: relative;
    h2{
        font-size: 24px;
        color: #242426;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }

    &::after{
        position: absolute;
        background: url(../img/line-blogs.svg) no-repeat center bottom;
        height: 20px;
        display: inline-block;
        width: 100%;
        content: '';
    }
}
.title-head-services-other{
    position: relative;
    h2{
        font-size: 24px;
        color: #242426;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-weight: normal;
        width: 100%;
        border-bottom: 1px solid $border;
        padding-bottom: 13px;
    }

    &::after{
        margin: auto;
        width: 100px;
        background: #DE0B8C;
        height: 3px;
        content: '';
        display: inherit;
    }
}
.box-news-focus{
    @include float-display();
}
.right-blogs-slidebar{
    background: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
    h2{
        font-size: 22px;
        color: $pink;
        margin-bottom: 20px;
    }


}
.box-product-page{
    h2{
        width: 100%;
        display: inline-block;
        font-weight: normal;
        font-size: 26px;
        padding: 0 10px;
        color: $black;
    }
    .item-product{
        margin-top: 20px;
        &:hover{
            .btn-product{
                opacity: 1;
            }
        }
    }

    .btn-product{
        opacity: 0;
    }
}
.box-catelogy{
    border: 1px solid $border;
    border-radius: 4px;
    padding: 20px;
    h2{
        font-size: 18px;
        color: $black;
        text-transform: uppercase;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            a{
                font-size: 14px;
                padding: 5px 0;
                color: $black;
                display: inline-block;
                width: 100%;
            }
            &.active, &:hover{
                a{
                    color: $pink;
                }
            }
        }
    }
}
.head-product{
    background: url(../img/head-product.png) no-repeat center top;
}
.blogs-slidebar{
    display: flex;
    img{
        width: 120px;
    }
    .infor-blogs-lager{
        padding: 0 0 0 15px;
        background: none;
    }
    a{
        width: 200px;
        img{
            width: 100%;
        }
    }
    .infor-blogs-lager{
        a{
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.ads-img{
    img{
        width: 100%;
    }
}
.blogs-other{
    padding-bottom: 0;
    .row{
        padding-bottom: 0;
        .lager-blogs{
            margin-bottom: 0;
        }
    }
}
.blogs-other .section-nail-blogs > a{
    padding-top: 57% !important;
}
.head-mobile{
    display: none;
    .header-menu-wrap{
        display: block !important;
    }
}
@media all and (max-width:1600px) {
    .page-header {
        height: 380px;
    }
}







@media all and (max-width:1201px) {
    .page-header {
        height: 270px;
    }
    .gallery-section .gallery-box {
        min-height: 430px;
    }
    .avatar-small-news a {
        padding-top: 53%;
    }
   
    .services-secetion-page .services-item {
        margin-bottom: 30px;
    }
}
@media all and (max-width:1000px) {
    .gallery-section{
        .container{
            padding: 0 !important;
            max-width: 98%;
        }
    }
    .gallery-section .gallery-box {
        min-height: 370px !important;
    }
    .right-head-MB{
        position: absolute;
        right: 0;
        top: 25px;
        .account-head{
            img{
                height: 23px;
                margin: 0 0 0 30px!important;
            }
        }
    }
    .menu-social{
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 30px 15px 30px 15px;
        .menu-close{
            i{
                font-size: 20px;
                color: $black;
            }
        }
        .social-box{
            position: absolute;
            right: 10px;
            top: 25px;
            display: block !important;
        }
    }
    .sticky-header{
        display: none;
    }
    .content-head-MB{
        display: inline-block;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 0px 15px;
        .menu-search{
            display: flex;
            width: auto;
            float: left;
            margin-top: 25px;
            position: absolute;
            i{
                font-size: 20px;
                color: $black;
                margin-right: 30px;
            }
        }
        a{
            img{
                height: 70px;
            }
        }
    }
    body{
        padding-top: 80px;
    }
    .head-mobile {
        width: 100%;
        display: inline-block;
        padding: 5px 0px;
        position: fixed;
        z-index: 11;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        top: 0;
        left: 0;
        .header-menu-wrap {
            display: none;
            float: left;
            position: relative;
            top: 0;
        }
    }
    .show-menu-MB{
        width: 300px;
        height: 100%;
        float: left;
        position: fixed;
        z-index: 99;
        box-shadow: -4px 0px 14px rgba(0, 0, 0, 0.25);
        top: 0;
        background: #fff;
        left: -2000px;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        &.active{
            display: block !important;
            left: 0;
        }
    }
    
    .item-product {
        margin-top: 10px !important;
    }
    .header.header-one{
        display: none;
    }
    .search-MB{
        position: fixed;
        width: 100%;
        display: none;
        top: 80px;
        padding: 15px;
        background: white;
        left: 0;
        border-top: 1px solid #e4e4e4;
        .box-search-box{
            display: block !important;
            padding-right: 40px;
            position: relative;
            input{
                border: 0;
                outline: none;
                width: 100%;
            }
            i{
                position: absolute;
                right: 6px;
                top: 4px;
                font-size: 20px;
            }
        }
    }
    .search-icon{
        .ti-close{
            display: none;
        }
    }
    .show-search{
        .ti-search{
            display: none !important;
        }
        .ti-close{
            display: block;
        }
    }
    .show-box-search{
        display: block !important;
    }
    .ti-arrow-left{
        left: -30px !important;
    }
    .ti-arrow-right{
        right: -30px !important;
    }
}
@media all and (max-width:767px) {
    .phone-call-active{
        position: fixed;
        bottom: 25px;
        left: 25px;
        z-index: 99;
    }
    .popup-gallery .modal-dialog {
        padding: 0 10px;
        margin: 20px auto;
    }
    .popup-gallery {
        .appoiment-btn-popup{
            margin: 0 0 10px 0 !important;
        }
    }
    .blogs-other .section-nail-blogs > a {
        padding-top: 30% !important;
    }
    .hotline-contact {
        margin-bottom: 12px;
    }
    .title-gallery{
        padding:20px 10px 0 10px;
    }
    .description-gallery{
        padding: 0 10px !important;
        p{
            padding-right: 0;
        }
    }
    .services-secetion-page .services-item {
        margin-bottom: 10px !important;
    }
    .services-secetion-page .page-services-slide {
        margin-bottom: 0px;
    }
    .page-header {
        height: 200px;
    }
    .location-box iframe {
        height: 350px;
    }
    .gallery-item{
        margin-top: 10px;
    }
    .popup-gallery .modal-content .modal-close {
        position: absolute;
        right: -9px;
        top: -17px;
    }
    .sub-cate-blogs-section .lager-blogs > a, .section-nail-blogs > a {
        float: left;
        width: 50%;
        padding-top: 30% !important;
    }
    .gallery-page{
        .col-lg-4.col-md-6.sm-padding{
            width: 50%;
        }
    }
    .section-nail-blogs .infor-blogs-lager {
        float: left;
        width: 50%;
        padding-left: 20px;
        padding-top: 0 !important;
    }
    .at-button {
        z-index: 10000000;
        display: block;
        width: 70px;
        background: $pink;
        text-align: center;
        padding-top: 13px;
        height: 70px;
        border-radius: 50%;
        -webkit-animation: at-ripple 0.6s linear infinite;
        animation: at-ripple 0.6s linear infinite;
    }
    .page-header h1 {
        font-size: 24px;
        line-height: 35px;
    }
    .gallery-thumnail img {
        width: 50%;
    }
    @-webkit-keyframes at-ripple {
        0% {
            box-shadow: 0 4px 10px rgba(222, 11, 140, 0.1), 0 0 0 0 rgba(222, 11, 104, 0.1), 0 0 0 5px rgba(222, 11, 104, 0.1), 0 0 0 10px rgba(222, 11, 104, 0.1);
        }
    
        100% {
            box-shadow: 0 4px 10px rgba(222, 11, 104, 0.8), 0 0 0 5px rgba(222, 11, 104, 0.8), 0 0 0 10px rgba(222, 11, 104, 0.8), 0 0 0 20px rgba(222, 11, 104, 0);
        }
    }
    
    @keyframes at-ripple {
        0% {
            box-shadow: 0 4px 10px rgba(222, 11, 104, 0.1), 0 0 0 0 rgba(222, 11, 104, 0.1), 0 0 0 5px rgba(222, 11, 104, 0.1), 0 0 0 10px rgba(222, 11, 104, 0.1);
        }
    
        100% {
            box-shadow: 0 4px 10px rgba(222, 11, 104, 0.1), 0 0 0 5px rgba(222, 11, 104, 0.1), 0 0 0 10px rgba(222, 11, 104, 0.1), 0 0 0 20px rgba(222, 11, 104, 0);
        }
    }

    .scroll-to-top {
        width: 100%;
        height: 100%;
        border: 1px solid #de0b8c;
        text-align: center;
        background-color: #ffffff;
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        color: #de0b8c;
        border-radius: 50%;
        text-decoration: none;
        transform: translateY(150%);
        transition: all .3s ease-in-out;
    }
    .show-menu-MB {
        width: 100% !important;
    }
    .bts-lager {
        grid-row: 1;
        grid-column: 3 / 1;
    }
    .box-bst {
        grid-template-columns: 50% 50%;
    }
    .slider-MB{
		display: block !important;
	}
	.slider-PC{
		display: none !important;
    }
    .tab-slide-head ul {
        width: 100%;
    }
    .tab-slide-head ul li {
        padding: 0 20px;
        margin: 5px auto;
    }
    .section-heading h2 {
        font-size: 25px;
        line-height: 38px;
    }
    .choose_slider_items .current_item {
        left: 0;
        padding: 0 10px;
        width: 100%;
    }
    .gallery-section .gallery-box {
        min-height: 339px !important;
    }
    .gallery-box{
        .next-arrow-gallery, .prev-arrow-gallery{
            top: 170px;
            background: #fff;
            border-radius: 50%;
            text-align: center;
            border: 1px solid #dadada;
            align-items: center;
            i{
                border: 0 !important;
            }
        }
    }
    .infor-news-lager h3 a {
        font-size: 16px;
    }
    .ti-arrow-right.right.slick-arrow, .ti-arrow-left.left.slick-arrow{
        background: #fff;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #dadada;
        align-items: center;
    }
    .photo-customer-section i, .news-paper-section i {
        color: #6f6f6f !important;
    }
    .services-section .services-item, .after-before-customer, .item-papernews {
        padding: 0;
    }
    .infor-blogs a {
        padding: 0;
        display: inline-block;
        width: 100%;
        font-size: 13px !important;
        font-weight: 500 !important;
        line-height: 21px !important;
        -webkit-line-clamp: 3 !important;
    }
    .gallery-section .box-bst{
        margin-top: 0;
    }
    .menu-close{
        float: left;
    }
    .popup-sign-in .content-signin {
        width: 90%;
        padding-top: 30px;
    }
    .signup-box {
        position: relative;
        right: auto;
        top: 0;
        text-align: left !important;
    }
    .menu-icon{
        float: left;
        width: 27px;
        margin-right: 28px;
    }
    .tab-slide-head ul li {
        padding: 0 5px;
        margin: 5px auto;
        span{
            font-size: 12px;
        }
    }
    .icon-tabs img {
        margin: auto;
        height: 24px;
    }
    .icon-tabs {
        width: 40px;
        height: 40px;
    }
    .search-MB{
        position: fixed;
        width: 100%;
        display: none;
        top: 80px;
        padding: 15px;
        background: white;
        left: 0;
        border-top: 1px solid #e4e4e4;
        .box-search-box{
            display: block !important;
            padding-right: 40px;
            position: relative;
            input{
                border: 0;
                outline: none;
                width: 100%;
            }
            i{
                position: absolute;
                right: 6px;
                top: 4px;
                font-size: 20px;
            }
        }
    }
    .search-icon{
        .ti-close{
            display: none;
        }
    }
    .show-search{
        .ti-search{
            display: none !important;
        }
        .ti-close{
            display: block;
        }
    }
    .show-box-search{
        display: block !important;
    }
    .list-promotion .services-item{     
        margin-top: 0 !important;
    }
}
