.slider-content-wrap {
	height: 550px
}

.dl-slider .overlay {
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1
}

.dl-slider .bg-img {
	display: block;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -1
}

.dl-slider .dl-caption {
	color: #13287e;
	font-family: heebo, sans-serif
}

.dl-slider .dl-caption .inner-layer {
	display: inline-block;
	overflow: hidden
}

.dl-slider .owl-item.active .dl-caption {
	visibility: visible
}

.dl-slider .dl-caption.medium {
	white-space: nowrap;
	font-size: 15px;
	font-family: heebo, sans-serif;
	letter-spacing: 0;
	line-height: 26px;
	height: 26px;
	font-weight: 600;
	color: #247ffb;
	letter-spacing: 0;
	visibility: inherit;
	transition: none 0s ease 0s;
	text-align: inherit;
	border-width: 0;
	margin: 0;
	padding: 0;
	min-height: 0;
	min-width: 0;
	max-height: none;
	max-width: none;
	opacity: 1;
	margin-bottom: 10px
}

.dl-slider .dl-caption.big {
	white-space: nowrap;
	font-size: 48px;
	line-height: 58px;
	font-weight: 600;
	color: #13287e;
	letter-spacing: -1px;
	height: 55px
}

.dl-slider .slider-content {
	position: relative;
	padding-left: 80px
}

.dl-slider .dl-caption.small {
	font-family: heebo, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -.2px;
	line-height: 26px;
	color: #8d9aa8;
	margin-top: 5px
}

.dl-slider .dl-btn-group {
	margin-top: 25px;
	overflow: hidden
}

.dl-slider .dl-btn {
	background-color: #fff323;
	display: inline-block;
	color: #13287e;
	font-size: 15px;
	line-height: 12;
	font-family: heebo, sans-serif;
	letter-spacing: 0;
	font-weight: 600;
	transition: all .2s ease-in-out;
	display: inline-block;
	padding: 0 30px;
	line-height: 45px;
	border-radius: 3px
}

.dl-slider .dl-btn i {
	margin-left: 5px;
	line-height: 45px
}

.dl-slider .dl-btn:hover {
	background-color: #13287c;
	color: #fff;
	transition: all .2s ease-in-out
}

@media only screen and (max-width:992px) {
	.slider-content-wrap {
		height: 400px
	}
	.dl-slider .dl-caption.medium {
		font-size: 12px
	}
	.dl-slider .dl-caption.big {
		font-size: 28px;
		line-height: 30px;
		height: 30px;
		letter-spacing: -1px
	}
	.dl-slider .dl-caption.small {
		font-size: 12px;
		line-height: 20px
	}
	.dl-slider .dl-btn-group {
		margin-top: 10px
	}
	.dl-slider .dl-btn {
		line-height: 45px;
		padding: 0 35px;
		font-size: 12px
	}
	.dl-slider.owl-carousel div.owl-nav button {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 10px
	}
	.dl-slider .dl-caption.dl-border {
		display: none!important
	}
}

@media only screen and (max-width:520px) {
	.dl-slider .dl-caption.big {
		font-size: 24px;
		letter-spacing: -.5px
	}
	.dl-slider .dl-caption.small br {
		display: none
	}
}

.dl-slider .slick-dots {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 20px;
	margin: 0;
	list-style: none
}

.dl-slider .slick-dots li {
	display: inline-block;
	margin: 0 6px
}

.dl-slider .slick-dots li button {
	background-color: rgb(255 255 255 / 70%);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	overflow: hidden;
	text-indent: -99999px;
	padding: 0;
	transition: all .3s ease-in-out;
	cursor: pointer
}

.dl-slider .slick-dots li button:focus,
.dl-slider .slick-dots li button:active {
	outline: none
}

.dl-slider .slick-dots li.slick-active button {
	background-color: #DE0B8C;
	transition: all .3s ease-in-out
}

.dl-slider.vertical-dots .slick-dots {
	width: auto;
	height: auto;
	bottom: 50%;
	left: auto;
	right: 50px;
	transform: translateY(50%)
}

.dl-slider.vertical-dots .slick-dots li {
	display: block;
	margin: 5px 0
}

.dl-slider .slick-arrow {
	background-color: rgba(222, 11, 140, .2);
	color: #fff;
	font-size: 14px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
    left: 10px;
    border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 1;
	cursor: pointer;
	transition: all .3s ease-in-out
}

.dl-slider .slick-arrow.slick-next {
	left: auto;
	right: 10px;
}

.dl-slider .slick-arrow:hover {
	background-color: rgba(222, 11, 140, .6);
	color: #fff;
	transition: all .3s ease-in-out
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -8px;
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		opacity: 1
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -8px;
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		opacity: 1
	}
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd .8s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-expand-fwd .8s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-expand-fwd {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-700px);
		transform: translateZ(-700px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

@keyframes tracking-in-expand-fwd {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-700px);
		transform: translateZ(-700px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top .8s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-expand-fwd-top .8s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-expand-fwd-top {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-700px) translateY(-500px);
		transform: translateZ(-700px) translateY(-500px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

@keyframes tracking-in-expand-fwd-top {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-700px) translateY(-500px);
		transform: translateZ(-700px) translateY(-500px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom .8s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-expand-fwd-bottom .8s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

@keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract .8s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-contract .8s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-contract {
	0% {
		letter-spacing: 1em;
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		letter-spacing: normal;
		opacity: 1
	}
}

@keyframes tracking-in-contract {
	0% {
		letter-spacing: 1em;
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		letter-spacing: normal;
		opacity: 1
	}
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

@keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-contract-bck-top 1s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-contract-bck-top {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px) translateY(-300px);
		transform: translateZ(400px) translateY(-300px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

@keyframes tracking-in-contract-bck-top {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px) translateY(-300px);
		transform: translateZ(400px) translateY(-300px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

.tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(.215, .61, .355, 1) both;
	animation: tracking-in-contract-bck-bottom 1s cubic-bezier(.215, .61, .355, 1) both
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px) translateY(300px);
		transform: translateZ(400px) translateY(300px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

@keyframes tracking-in-contract-bck-bottom {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px) translateY(300px);
		transform: translateZ(400px) translateY(300px);
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1
	}
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
	animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1
	}
}

@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1
	}
}

.focus-in-expand {
	-webkit-animation: focus-in-expand .8s cubic-bezier(.25, .46, .45, .94) both;
	animation: focus-in-expand .8s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1
	}
}

@keyframes focus-in-expand {
	0% {
		letter-spacing: -.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1
	}
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd .8s cubic-bezier(.25, .46, .45, .94) both;
	animation: focus-in-expand-fwd .8s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

.focus-in-contract {
	-webkit-animation: focus-in-contract .7s cubic-bezier(.25, .46, .45, .94) both;
	animation: focus-in-contract .7s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes focus-in-contract {
	0% {
		letter-spacing: 8px;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1
	}
}

@keyframes focus-in-contract {
	0% {
		letter-spacing: 8px;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1
	}
}

.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both;
	animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes focus-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(12px);
		transform: translateZ(12px);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes focus-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(12px);
		transform: translateZ(12px);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

.slide-in-top {
	-webkit-animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.slide-in-right {
	-webkit-animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-in-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.slide-in-left {
	-webkit-animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both
}

@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

.bounce-in-right {
	-webkit-animation: bounce-in-right 1.1s both;
	animation: bounce-in-right 1.1s both
}

@-webkit-keyframes bounce-in-right {
	0% {
		-webkit-transform: translateX(600px);
		transform: translateX(600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateX(68px);
		transform: translateX(68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateX(32px);
		transform: translateX(32px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes bounce-in-right {
	0% {
		-webkit-transform: translateX(600px);
		transform: translateX(600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateX(68px);
		transform: translateX(68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateX(32px);
		transform: translateX(32px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

.bounce-in-bottom {
	-webkit-animation: bounce-in-bottom 1.1s both;
	animation: bounce-in-bottom 1.1s both
}

@-webkit-keyframes bounce-in-bottom {
	0% {
		-webkit-transform: translateY(500px);
		transform: translateY(500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateY(65px);
		transform: translateY(65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateY(28px);
		transform: translateY(28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes bounce-in-bottom {
	0% {
		-webkit-transform: translateY(500px);
		transform: translateY(500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateY(65px);
		transform: translateY(65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateY(28px);
		transform: translateY(28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

.bounce-in-left {
	-webkit-animation: bounce-in-left 1.1s both;
	animation: bounce-in-left 1.1s both
}

@-webkit-keyframes bounce-in-left {
	0% {
		-webkit-transform: translateX(-600px);
		transform: translateX(-600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateX(-68px);
		transform: translateX(-68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateX(-28px);
		transform: translateX(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes bounce-in-left {
	0% {
		-webkit-transform: translateX(-600px);
		transform: translateX(-600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: translateX(-68px);
		transform: translateX(-68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: translateX(-28px);
		transform: translateX(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

.bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.1s both;
	animation: bounce-in-fwd 1.1s both
}

@-webkit-keyframes bounce-in-fwd {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: scale(.7);
		transform: scale(.7);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: scale(.84);
		transform: scale(.84);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	89% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes bounce-in-fwd {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: scale(.7);
		transform: scale(.7);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: scale(.84);
		transform: scale(.84);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	89% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

.bounce-in-bck {
	-webkit-animation: bounce-in-bck 1.1s both;
	animation: bounce-in-bck 1.1s both
}

@-webkit-keyframes bounce-in-bck {
	0% {
		-webkit-transform: scale(7);
		transform: scale(7);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: scale(1.24);
		transform: scale(1.24);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	89% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes bounce-in-bck {
	0% {
		-webkit-transform: scale(7);
		transform: scale(7);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0
	}
	38% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1
	}
	55% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	72% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	81% {
		-webkit-transform: scale(1.24);
		transform: scale(1.24);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	89% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	95% {
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-fwd .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

.fade-in-bck {
	-webkit-animation: fade-in-bck .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-bck .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-bck {
	0% {
		-webkit-transform: translateZ(80px);
		transform: translateZ(80px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

@keyframes fade-in-bck {
	0% {
		-webkit-transform: translateZ(80px);
		transform: translateZ(80px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

.fade-in-top {
	-webkit-animation: fade-in-top .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-top .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes fade-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.fade-in-tr {
	-webkit-animation: fade-in-tr .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-tr .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-tr {
	0% {
		-webkit-transform: translateX(50px) translateY(-50px);
		transform: translateX(50px) translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

@keyframes fade-in-tr {
	0% {
		-webkit-transform: translateX(50px) translateY(-50px);
		transform: translateX(50px) translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

.fade-in-right {
	-webkit-animation: fade-in-right .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-right .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

.fade-in-br {
	-webkit-animation: fade-in-br .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-br .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-br {
	0% {
		-webkit-transform: translateX(50px) translateY(50px);
		transform: translateX(50px) translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

@keyframes fade-in-br {
	0% {
		-webkit-transform: translateX(50px) translateY(50px);
		transform: translateX(50px) translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.fade-in-bl {
	-webkit-animation: fade-in-bl .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-bl .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-bl {
	0% {
		-webkit-transform: translateX(-50px) translateY(50px);
		transform: translateX(-50px) translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

@keyframes fade-in-bl {
	0% {
		-webkit-transform: translateX(-50px) translateY(50px);
		transform: translateX(-50px) translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

.fade-in-left {
	-webkit-animation: fade-in-left .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-left .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-left {
	0% {
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes fade-in-left {
	0% {
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

.fade-in-tl {
	-webkit-animation: fade-in-tl .6s cubic-bezier(.39, .575, .565, 1) both;
	animation: fade-in-tl .6s cubic-bezier(.39, .575, .565, 1) both
}

@-webkit-keyframes fade-in-tl {
	0% {
		-webkit-transform: translateX(-50px) translateY(-50px);
		transform: translateX(-50px) translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

@keyframes fade-in-tl {
	0% {
		-webkit-transform: translateX(-50px) translateY(-50px);
		transform: translateX(-50px) translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		opacity: 1
	}
}

.dl-slider .slick-current.slick-active .kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	animation: kenburns-top 5s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top
	}
}

@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top
	}
}

.dl-slider .slick-current.slick-active .kenburns-top-right {
	-webkit-animation: kenburns-top-right 10s ease-out both;
	animation: kenburns-top-right 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-top-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 16%;
		transform-origin: 84% 16%
	}
	100% {
		-webkit-transform: scale(1.1) translate(20px, -15px);
		transform: scale(1.1) translate(20px, -15px);
		-webkit-transform-origin: right top;
		transform-origin: right top
	}
}

@keyframes kenburns-top-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 16%;
		transform-origin: 84% 16%
	}
	100% {
		-webkit-transform: scale(1.1) translate(20px, -15px);
		transform: scale(1.1) translate(20px, -15px);
		-webkit-transform-origin: right top;
		transform-origin: right top
	}
}

.dl-slider .slick-current.slick-active .kenburns-right {
	-webkit-animation: kenburns-right 10s ease-out both;
	animation: kenburns-right 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 50%;
		transform-origin: 84% 50%
	}
	100% {
		-webkit-transform: scale(1.25) translateX(20px);
		transform: scale(1.25) translateX(20px);
		-webkit-transform-origin: right;
		transform-origin: right
	}
}

@keyframes kenburns-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 50%;
		transform-origin: 84% 50%
	}
	100% {
		-webkit-transform: scale(1.25) translateX(20px);
		transform: scale(1.25) translateX(20px);
		-webkit-transform-origin: right;
		transform-origin: right
	}
}

.dl-slider .slick-current.slick-active .kenburns-bottom-right {
	-webkit-animation: kenburns-bottom-right 10s ease-out both;
	animation: kenburns-bottom-right 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-bottom-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 84%;
		transform-origin: 84% 84%
	}
	100% {
		-webkit-transform: scale(1.25) translate(20px, 15px);
		transform: scale(1.25) translate(20px, 15px);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom
	}
}

@keyframes kenburns-bottom-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 84%;
		transform-origin: 84% 84%
	}
	100% {
		-webkit-transform: scale(1.25) translate(20px, 15px);
		transform: scale(1.25) translate(20px, 15px);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom
	}
}

.dl-slider .slick-current.slick-active .kenburns-bottom {
	-webkit-animation: kenburns-bottom 10s ease-out both;
	animation: kenburns-bottom 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-bottom {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 84%;
		transform-origin: 50% 84%
	}
	100% {
		-webkit-transform: scale(1.25) translateY(15px);
		transform: scale(1.25) translateY(15px);
		-webkit-transform-origin: bottom;
		transform-origin: bottom
	}
}

@keyframes kenburns-bottom {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 84%;
		transform-origin: 50% 84%
	}
	100% {
		-webkit-transform: scale(1.25) translateY(15px);
		transform: scale(1.25) translateY(15px);
		-webkit-transform-origin: bottom;
		transform-origin: bottom
	}
}

.dl-slider .slick-current.slick-active .kenburns-bottom-left {
	-webkit-animation: kenburns-bottom-left 10s ease-out both;
	animation: kenburns-bottom-left 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-bottom-left {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 84%;
		transform-origin: 16% 84%
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, 15px);
		transform: scale(1.25) translate(-20px, 15px);
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom
	}
}

@keyframes kenburns-bottom-left {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 84%;
		transform-origin: 16% 84%
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, 15px);
		transform: scale(1.25) translate(-20px, 15px);
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom
	}
}

.dl-slider .slick-current.slick-active .kenburns-left {
	-webkit-animation: kenburns-left 10s ease-out both;
	animation: kenburns-left 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-left {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 50%;
		transform-origin: 16% 50%
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, 15px);
		transform: scale(1.25) translate(-20px, 15px);
		-webkit-transform-origin: left;
		transform-origin: left
	}
}

@keyframes kenburns-left {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 50%;
		transform-origin: 16% 50%
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, 15px);
		transform: scale(1.25) translate(-20px, 15px);
		-webkit-transform-origin: left;
		transform-origin: left
	}
}

.dl-slider .slick-current.slick-active .kenburns-top-left {
	-webkit-animation: kenburns-top-left 10s ease-out both;
	animation: kenburns-top-left 10s ease-out both;
	animation-delay: .1s
}

@-webkit-keyframes kenburns-top-left {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 16%;
		transform-origin: 16% 16%
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, -15px);
		transform: scale(1.25) translate(-20px, -15px);
		-webkit-transform-origin: top left;
		transform-origin: top left
	}
}

@keyframes kenburns-top-left {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 16%;
		transform-origin: 16% 16%
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, -15px);
		transform: scale(1.25) translate(-20px, -15px);
		-webkit-transform-origin: top left;
		transform-origin: top left
	}
}