@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,800&display=swap");
body {
  color: #242426;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  font-size: 14px;
  line-height: 26px;
  color: #242426;
  font-weight: 400;
  letter-spacing: 0px;
  position: relative;
  overflow-x: hidden; }

.services-section .services-item {
  padding: 0 20px; }

.title-section {
  font-size: 28px;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #242426;
  text-transform: uppercase;
  font-weight: 400; }

.phone-hotline, .mail-footer {
  display: inline-block;
  width: 100%; }
  .phone-hotline a, .mail-footer a {
    color: #DE0B8C; }
    .phone-hotline a img, .mail-footer a img {
      float: left;
      margin: 0 10px 0 0; }
    .phone-hotline a span, .mail-footer a span {
      font-size: 22px;
      float: left; }

.hair-lager-blogs .infor-blogs-lager {
  background: none !important;
  padding: 20px 0 0 0; }

.primary-header {
  position: relative;
  padding-top: 40px; }

.lager-blogs {
  margin-bottom: 30px; }

.blogs-secetion .lager-blogs > a {
  position: relative;
  padding-top: 57%;
  display: block;
  background: #fff; }
  .blogs-secetion .lager-blogs > a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.small-blogs h6 a {
  font-size: 16px !important;
  line-height: 22px !important;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.small-blogs .title-blogs {
  margin-bottom: 6px !important; }

.infor-blogs-lager {
  background: #F6F6F8;
  padding: 15px; }
  .infor-blogs-lager .title-blogs {
    text-transform: uppercase;
    font-size: 13px;
    color: #757575;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    font-weight: 600; }
    .infor-blogs-lager .title-blogs:hover {
      color: #DE0B8C; }
  .infor-blogs-lager h6 a {
    color: #242426;
    line-height: 30px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .infor-blogs-lager h6:hover a {
    color: #DE0B8C; }

.dl-menu li.active > a {
  color: #DE0B8C !important; }

.dl-menu li.active ul li.active a {
  color: #DE0B8C !important; }

.menu-footer h3 {
  text-transform: uppercase;
  font-size: 14px; }
.menu-footer a {
  font-size: 13px;
  margin-bottom: 7px;
  display: inline-block;
  width: 100%;
  color: #757575; }
  .menu-footer a:hover {
    color: #DE0B8C; }

.form-dk {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 100px;
  margin-bottom: 10px; }
  .form-dk label {
    position: absolute;
    left: 0;
    top: 5px;
    color: #757575; }
  .form-dk input {
    width: 100% !important;
    height: 35px !important; }
  .form-dk textarea {
    width: 100%;
    border: 1px solid #eee;
    padding: 15px;
    height: 100px;
    border-radius: 2px; }
    .form-dk textarea:focus {
      border: 1px solid #DE0B8C !important;
      outline: none; }

.title-section-blogs {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0 15px; }
  .title-section-blogs h2 {
    font-size: 32px;
    color: #242426;
    padding-bottom: 10px;
    font-weight: normal;
    position: relative;
    border-bottom: 1px solid #ddd; }
    .title-section-blogs h2::after {
      height: 2px;
      width: 100px;
      background: #DE0B8C;
      content: '';
      display: block;
      position: absolute;
      bottom: -1px; }
    .title-section-blogs h2 a {
      color: #242426; }

.hair-section-blogs {
  background: #FAEDF5; }
  .hair-section-blogs .small-blogs-hair {
    display: flex; }
    .hair-section-blogs .small-blogs-hair .infor-small-hair-blogs a {
      color: #242426;
      font-size: 16px;
      line-height: 22px; }
      .hair-section-blogs .small-blogs-hair .infor-small-hair-blogs a:hover {
        color: #DE0B8C; }

.sub-cate-blogs-section .lager-blogs {
  margin-bottom: 0px; }

.page-services-slide .services-item {
  padding: 0 15px; }
  .page-services-slide .services-item .detail-btn {
    background: #FFCB05;
    color: #242426;
    border: 1px solid #FFCB05; }

.page-header-services-detail img {
  width: 100%; }

.services-detail-body {
  width: 1000px;
  margin: auto; }
  .services-detail-body h1 {
    color: #242426;
    font-size: 32px; }
  .services-detail-body h2 {
    color: #242426;
    margin-top: 20px;
    font-size: 22px; }
  .services-detail-body img {
    margin-bottom: 10px; }

.services-secetion-page .services-item {
  margin-bottom: 60px; }
.services-secetion-page .page-services-slide {
  margin-bottom: 60px; }
  .services-secetion-page .page-services-slide .services-item {
    margin-bottom: 0px; }

.footer-section {
  border-top: 1px solid #ddd; }

.nails-lager-columns {
  margin-bottom: 0 !important; }

.small-blogs-hair > a {
  position: relative;
  padding-top: 30%;
  display: block;
  background: #fff;
  width: 170px;
  margin-right: 20px; }
  .small-blogs-hair > a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.section-nail-blogs .infor-blogs-lager {
  background: none !important;
  padding: 10px 0; }
  .section-nail-blogs .infor-blogs-lager a {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden; }
.section-nail-blogs h6 a {
  font-size: 14px !important;
  line-height: 22px !important;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.section-nail-blogs .title-blogs {
  margin-bottom: 6px !important; }

.section-nail-blogs > a {
  padding-top: 90% !important;
  position: relative;
  display: block;
  background: #fff; }
  .section-nail-blogs > a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.cate-sub-section {
  padding-bottom: 0 !important; }
  .cate-sub-section .lager-blogs.small-blogs > a {
    padding-top: 65% !important; }

.pagging-page {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }
  .pagging-page ul li a {
    font-weight: normal;
    color: #242426; }
    .pagging-page ul li a.active, .pagging-page ul li a:hover {
      background: #DE0B8C;
      border-color: #DE0B8C; }

.sub-cate-blogs-section .lager-blogs > a {
  padding-top: 57% !important;
  position: relative;
  display: block;
  background: #fff; }

.book-appoiment {
  text-transform: uppercase;
  color: white !important; }
  .book-appoiment img {
    float: left;
    margin-top: 13px;
    margin-right: 5px; }

.nails-lager-columns .content-lager-colums {
  display: inline-block;
  padding: 15px;
  width: 100%; }
  .nails-lager-columns .content-lager-colums .infor-blogs-lager {
    margin-top: -60px;
    border-top: 10px solid #FFCB05;
    background: white !important;
    position: relative;
    z-index: 9; }

.nails-lager-columns .infor-blogs-lager {
  background: none !important; }
.nails-lager-columns h6 a {
  font-size: 16px !important;
  line-height: 22px; }

.send-appoiment {
  text-align: right !important;
  margin-top: 0 !important; }
  .send-appoiment a {
    width: auto !important;
    color: white !important; }

.social-footer {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  text-align: center; }
  .social-footer a {
    padding: 0 3px; }

.mail-footer img {
  margin-top: 5px !important; }
.mail-footer span {
  font-size: 16px !important;
  color: #242426; }

.services-item h3 {
  color: #242426;
  font-size: 16px; }
  .services-item h3 a {
    color: #242426;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
.services-item b {
  color: #DE0B8C;
  padding-left: 20px; }

.page-header {
  background-size: cover; }
  .page-header h1 {
    text-transform: uppercase;
    position: relative;
    font-size: 36px; }
    .page-header h1::after {
      content: '';
      display: block;
      height: 2px;
      width: 100px;
      background: #FFCB05;
      margin: 7px auto; }

.price-box {
  position: relative;
  margin-bottom: 15px; }
  .price-box span {
    text-decoration: line-through; }

.item-product {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  margin-top: 50px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  padding-bottom: 20px; }
  .item-product img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .item-product span {
    text-decoration: line-through;
    color: #757575; }
  .item-product b {
    color: #DE0B8C;
    padding-left: 20px; }
  .item-product:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.18);
    border-radius: 4px; }
    .item-product:hover .btn-product {
      background: #FFCB05 !important;
      border-color: #FFCB05 !important; }

.item-product > a {
  position: relative;
  padding-top: 110%;
  display: block;
  background: #fff;
  margin-bottom: 15px;
  margin-top: 30px; }

.contact-hot {
  width: 100%;
  display: flex; }
  .contact-hot img {
    float: left;
    height: 24px;
    margin-right: 10px; }
  .contact-hot a {
    font-size: 24px;
    color: #242426; }

.search {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 20px;
  position: relative;
  padding-left: 45px;
  margin: 20px 0; }
  .search i {
    position: absolute;
    font-size: 20px;
    left: 15px;
    top: 15px;
    color: #757575; }
  .search input {
    width: 100%;
    border: 0;
    outline: none; }

.hotline-contact {
  display: flex; }

.mail-contact {
  display: flex; }
  .mail-contact a {
    font-size: 18px; }

.check-pw label {
  font-size: 13px;
  font-weight: normal; }

.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #fff; }

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: #fff; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.container2 .checkmark:after {
  left: 4px;
  top: -3px;
  width: 5px;
  height: 10px;
  font-family: themify;
  content: "\e64c";
  color: #DE0B8C; }

.account-background {
  background: #fff;
  margin-top: 7px; }
  .account-background .slidebar-account {
    min-height: 100vh;
    background: #f5f5f5;
    margin-top: 40px;
    padding: 20px; }
    .account-background .slidebar-account .head-account {
      display: flex; }
      .account-background .slidebar-account .head-account h6 {
        font-weight: 600;
        font-size: 15px;
        color: #242426; }
      .account-background .slidebar-account .head-account .avatar {
        position: relative;
        margin-right: 15px; }
        .account-background .slidebar-account .head-account .avatar .change-btn {
          position: absolute;
          right: -4px;
          bottom: -3px; }

.menu-acc ul li {
  padding: 8px 0; }
  .menu-acc ul li a {
    display: flex; }
    .menu-acc ul li a i {
      font-size: 16px;
      color: #757575;
      margin-right: 10px;
      display: inline-block;
      margin-top: 4px; }
    .menu-acc ul li a span {
      color: #242426; }
    .menu-acc ul li a:hover i, .menu-acc ul li a:hover span, .menu-acc ul li a.active i, .menu-acc ul li a.active span {
      color: #DE0B8C; }

.list-appoiment table {
  background: white; }
  .list-appoiment table thead {
    background: #DE0B8C; }
    .list-appoiment table thead th {
      color: white;
      border: 0;
      font-size: 13px;
      padding: 5px 10px; }
  .list-appoiment table tbody tr td {
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 5px 10px; }

.page-form-infor h1 {
  color: #242426;
  font-size: 18px;
  margin: 0;
  padding: 20px 0 0 0;
  text-transform: uppercase; }
.page-form-infor form {
  padding: 20px;
  background: white;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border-radius: 4px; }
  .page-form-infor form .item-form {
    margin-bottom: 20px; }
    .page-form-infor form .item-form label {
      font-size: 13px; }
    .page-form-infor form .item-form input {
      border: 1px solid #ddd;
      margin: 0;
      padding: 0 10px;
      border-radius: 2px;
      outline: none;
      box-shadow: none;
      width: 100%;
      height: 40px;
      color: #757575;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .page-form-infor form .item-form input:focus {
        border: 1px solid #DE0B8C; }
    .page-form-infor form .item-form i, .page-form-infor form .item-form span {
      color: #757575; }

.infor-location ul li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd; }
  .infor-location ul li i {
    font-size: 17px;
    color: #757575; }
  .infor-location ul li .location-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex; }
    .infor-location ul li .location-item i {
      margin-right: 5px;
      margin-top: 5px;
      color: #DE0B8C; }
  .infor-location ul li h2 {
    font-size: 18px;
    color: #242426;
    text-transform: uppercase; }

.map-body iframe {
  width: 100%;
  height: 400px; }

.location-box iframe {
  width: 100%;
  height: 650px; }

.box-appoiment {
  width: 600px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09); }

.gallery-item {
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-top: 40px; }
  .gallery-item:hover .infor-album a p {
    color: #DE0B8C; }

.gallery-item > a {
  position: relative;
  padding-top: 100%;
  display: block;
  background: #fff; }
  .gallery-item > a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.gallery-thumnail img {
  width: 33.3%;
  cursor: pointer;
  padding: 15px; }
  .gallery-thumnail img:hover {
    transform: scale(1.1); }
.gallery-thumnail .row {
  display: table !important; }

.title-gallery {
  padding: 20px 0; }
  .title-gallery h2 {
    margin-top: 0;
    font-size: 24px;
    color: #242426;
    padding-top: 0; }

.description-gallery {
  padding-right: 20px; }
  .description-gallery p {
    font-size: 14px;
    padding-right: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.account-logined i {
  font-size: 11px; }

.appoiment-btn-popup {
  text-align: left !important; }
  .appoiment-btn-popup .header-right.btn-viewall a {
    padding: 0 30px !important; }

.popup-gallery .modal-body {
  padding: 0; }
  .popup-gallery .modal-body .single-slide a {
    position: relative;
    padding-top: 110%;
    display: block; }
    .popup-gallery .modal-body .single-slide a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
.popup-gallery .modal-dialog {
  max-width: 1000px;
  margin: 100px auto; }
.popup-gallery .modal-content {
  border-radius: 0;
  position: relative; }
  .popup-gallery .modal-content .modal-close {
    position: absolute;
    right: -40px;
    top: -30px; }
    .popup-gallery .modal-content .modal-close span {
      font-size: 20px; }
.popup-gallery .modal-close {
  position: relative;
  z-index: 1; }
  .popup-gallery .modal-close button {
    box-shadow: none;
    border: 0;
    background: #FFCB05;
    padding: 0 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: none;
    border: 0;
    outline: none;
    text-align: center;
    opacity: 1 !important;
    cursor: pointer; }
    .popup-gallery .modal-close button span {
      font-size: 16px !important;
      border: 0;
      text-shadow: none;
      color: #757575; }

/* Custom labels: the container */
.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  /* Chrome, Opera, Safari */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border: 1px solid #DE0B8C; }

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  background-color: #DE0B8C; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  left: 10px;
  top: 6px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* Create a custom radio button */
.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn {
  background-color: #ccc; }

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn {
  background-color: #ffffff;
  border: 1px solid #DE0B8C; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .radiobtn:after {
  display: block; }

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #DE0B8C; }

.sex-infor {
  display: flex;
  margin-top: 0px; }
  .sex-infor label {
    margin-right: 10px; }

.infor-album a {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  padding: 15px;
  color: #242426; }
  .infor-album a p {
    margin: 0;
    line-height: 22px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.btn-product {
  display: inline-block;
  width: 100px;
  border-radius: 2px;
  border: 1px solid #ddd;
  color: #1111;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  padding: 4px 0px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear; }
  .btn-product a {
    color: #484848;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase; }
  .btn-product:hover {
    background: #FFCB05;
    border: 1px solid #FFCB05;
    color: #757575; }

.detail-btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #111;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  padding: 4px 17px; }

.product-section {
  background: #F6F6F8; }

.service-card {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden; }
  .service-card:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.18);
    border-radius: 4px; }
    .service-card:hover h3 a {
      color: #DE0B8C; }
    .service-card:hover .detail-btn {
      background: #FFCB05;
      border: 1px solid #FFCB05;
      color: #757575; }

.slider-MB {
  display: none !important; }

.btn-viewall {
  margin: auto;
  cursor: pointer; }
  .btn-viewall a {
    padding: 0 20px !important; }
  .btn-viewall label {
    float: left; }
  .btn-viewall img {
    float: left;
    margin: 13px 0 0 6px !important; }

.infor-newspaper .btn-viewall {
  float: right; }

.btn-view-cart {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .btn-view-cart .viewall {
    margin-top: 0 !important;
    text-align: right; }

.viewall {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  visibility: initial !important;
  text-align: center; }
  .viewall a {
    height: 44px;
    display: inline-block;
    border-radius: 50px;
    background: #DE0B8C;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding-top: 9px; }
    .viewall a span {
      float: left;
      margin: 0px 0 0 27px; }
    .viewall a b {
      color: #DE0B8C; }
    .viewall a img {
      float: left;
      margin: 4px 0 0 7px; }
    .viewall a:hover {
      opacity: .8; }

h3 {
  color: #242426;
  font-size: 16px; }
  h3 a {
    color: #242426;
    font-size: 16px; }
  h3:hover {
    color: #DE0B8C; }
    h3:hover a {
      color: #DE0B8C; }

.sticky-fixed-top .head-top {
  display: none; }
.sticky-fixed-top .header-logo img {
  height: 70px;
  margin: 0; }
.sticky-fixed-top .primary-header {
  position: relative;
  padding-top: 0; }

.gallery-section {
  padding: 60px 0; }
  .gallery-section .box-bst {
    margin-top: 30px; }
  .gallery-section .gallery-box {
    min-height: 520px;
    display: inline-block;
    width: 100%; }

.item-bts {
  position: relative;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden;
  position: relative;
  padding-top: 90%;
  display: block; }
  .item-bts img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .item-bts:hover .inforbts {
    display: flex !important;
    opacity: 1; }
  .item-bts:hover img {
    transform: scale(1.2); }

.infor-gallery {
  display: none;
  overflow: hidden; }
  .infor-gallery h5 a {
    font-size: 24px;
    color: #242426;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .infor-gallery .price-box span {
    color: #757575; }
  .infor-gallery .price-box b {
    color: #DE0B8C;
    padding-left: 10px;
    font-size: 16px; }
  .infor-gallery:hover .detail-btn {
    background: #FFCB05;
    border: 1px solid #FFCB05;
    color: #757575; }
  .infor-gallery:hover h5 a {
    color: #DE0B8C; }

.current_item .infor-gallery {
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border-radius: 0 0 4px 4px;
  text-align: left;
  padding: 15px; }

.bts-lager {
  grid-row: 1 / 3;
  grid-column: 1 / 1; }

.next-arrow-gallery {
  border: 1px solid #8d9aa8;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #8d9aa8;
  border-radius: 50%;
  text-align: center;
  top: 230px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  right: 0;
  left: auto; }
  .next-arrow-gallery i {
    color: #757575; }
  .next-arrow-gallery a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 40px;
    left: 0;
    padding-left: 11px; }

.prev-arrow-gallery {
  border: 1px solid #8d9aa8;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #8d9aa8;
  border-radius: 50%;
  text-align: center;
  top: 230px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  left: 0; }
  .prev-arrow-gallery i {
    color: #757575; }
  .prev-arrow-gallery a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 40px;
    left: 0;
    padding-left: 11px; }

.show-popup-cart {
  display: block !important; }

.total-cart {
  padding: 10px 15px;
  padding-bottom: 0;
  display: flex; }
  .total-cart p {
    text-align: right;
    width: 100%;
    margin-bottom: 0; }
  .total-cart strong {
    font-size: 20px;
    color: #DE0B8C;
    font-weight: normal;
    float: right;
    margin-left: 10px; }

.popup-cart {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  display: none; }

.show-popup-sign-in {
  display: block !important; }

.popup-sign-in {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  left: 0; }
  .popup-sign-in .content-signin {
    width: 500px;
    margin: auto;
    align-items: center;
    padding-top: 100px; }
  .popup-sign-in .body-signin {
    background: white; }
    .popup-sign-in .body-signin .head-singin {
      position: relative;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd; }
      .popup-sign-in .body-signin .head-singin h2 {
        font-size: 18px;
        margin: 0;
        padding: 0;
        color: #242426;
        text-transform: uppercase; }
      .popup-sign-in .body-signin .head-singin i {
        position: absolute;
        right: 15px;
        top: 18px;
        cursor: pointer;
        font-size: 16px;
        color: #242426; }

/*-- slider product detail --*/
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table; }

.lightSlider {
  overflow: hidden;
  margin: 0; }

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative; }

.lSSlideWrapper > .lightSlider:after {
  clear: both; }

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important; }

.lSSlideWrapper .lSFade {
  position: relative; }

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%; }

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important; }

.lSSlideWrapper .lSFade > *.active {
  z-index: 10; }

.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1; }

/** /!!! End of core css Should not edit !!!/**/
/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center; }

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s; }

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #428bca; }

.lSSlideOuter .media {
  opacity: 0.8; }

.lSSlideOuter .media.active {
  opacity: 1; }

/* End of pager */
/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px; }

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%; }

.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table; }

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both; }

/* End of Gallery*/
/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url("../img/controls.png");
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s; }

.lSAction > a:hover {
  opacity: 1; }

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px; }

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px; }

.lSAction > a.disabled {
  pointer-events: none; }

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden; }

/* vertical */
.lSSlideOuter.vertical {
  position: relative; }

.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important; }

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0; }

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important; }

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto; }

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px; }

/* vertical */
/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl; }

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none; }

.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0; }

.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
  float: left; }

.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important; }

/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0; }
  50% {
    left: -15px; }
  100% {
    left: 0; } }
@keyframes rightEnd {
  0% {
    left: 0; }
  50% {
    left: -15px; }
  100% {
    left: 0; } }
@-webkit-keyframes topEnd {
  0% {
    top: 0; }
  50% {
    top: -15px; }
  100% {
    top: 0; } }
@keyframes topEnd {
  0% {
    top: 0; }
  50% {
    top: -15px; }
  100% {
    top: 0; } }
@-webkit-keyframes leftEnd {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }
@keyframes leftEnd {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }
@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0; }
  50% {
    bottom: -15px; }
  100% {
    bottom: 0; } }
@keyframes bottomEnd {
  0% {
    bottom: 0; }
  50% {
    bottom: -15px; }
  100% {
    bottom: 0; } }
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative; }

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative; }

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative; }

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative; }

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative; }

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative; }

/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.lSPager.lSGallery li {
  opacity: .4; }

.lSPager.lSGallery li.active {
  opacity: 1;
  border: 1px solid #dfdfdf; }

.lSSlideOuter {
  text-align: center; }

.signup-box {
  position: absolute;
  right: 50px;
  top: 15px; }

.social-box-signin {
  padding: 10px;
  text-align: center;
  width: 100%;
  border: 1px solid #ddd;
  margin: 20px 0;
  display: flex;
  text-align: center;
  border-radius: 2px; }
  .social-box-signin a {
    display: inline-block;
    width: 100%; }
  .social-box-signin img {
    background: none !important;
    float: none;
    margin-right: 5px; }
  .social-box-signin span {
    color: #242426;
    float: none; }

.or-box {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  position: relative;
  text-align: center; }
  .or-box::after {
    border-top: 1px solid #ddd;
    content: '';
    display: block;
    width: 100%;
    margin-top: -12px; }
  .or-box span {
    background: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: -20px; }

.signup-box {
  display: inline-block;
  width: 100%;
  text-align: right; }
  .signup-box a {
    color: #DE0B8C; }

.bottom-view-cart {
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px solid #ddd;
  width: 100%;
  right: 0;
  width: 350px; }

.popup-cart-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background: white;
  overflow-y: auto;
  padding-top: 40px; }
  .popup-cart-content ul {
    margin-top: 20px;
    margin-bottom: 0; }
    .popup-cart-content ul li {
      position: relative;
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid #ddd; }
      .popup-cart-content ul li img {
        height: 70px;
        padding: 0 15px; }
      .popup-cart-content ul li .infor-cart b {
        font-weight: 500;
        color: #242426;
        font-size: 16px; }
        .popup-cart-content ul li .infor-cart b:hover {
          color: #DE0B8C; }
      .popup-cart-content ul li .infor-cart .price-box {
        margin-top: 5px; }
        .popup-cart-content ul li .infor-cart .price-box b {
          color: #DE0B8C;
          margin-left: 15px; }
        .popup-cart-content ul li .infor-cart .price-box span {
          color: #757575;
          font-size: 13px; }
      .popup-cart-content ul li .close-item-product {
        position: absolute;
        right: 10px;
        top: 18px;
        cursor: pointer;
        line-height: 22px;
        width: 25px;
        height: 25px;
        border: 1px solid #ddd;
        border-radius: 50%;
        text-align: center;
        align-items: center; }
        .popup-cart-content ul li .close-item-product i {
          font-size: 11px; }
        .popup-cart-content ul li .close-item-product:hover {
          background: #FFCB05;
          border: 1px solid #FFCB05; }

.btn-signin {
  visibility: inherit !important;
  margin-top: 0;
  margin: auto;
  float: right;
  text-align: center; }
  .btn-signin a {
    display: flex;
    text-align: center; }
  .btn-signin label {
    width: auto !important;
    padding-left: 16px; }
  .btn-signin img {
    float: left;
    margin: 12px 0 0 4px !important; }

.forgot-passw {
  text-align: right;
  margin-bottom: 20px;
  float: left;
  width: auto; }
  .forgot-passw a {
    color: #242426; }

.form-sign {
  display: inline-block;
  width: 100%;
  padding: 20px 20px; }
  .form-sign label {
    display: inline-block;
    width: 100%; }
  .form-sign input {
    width: 100% !important;
    padding: 0 10px;
    height: 40px !important;
    border-radius: 2px;
    border: 1px solid #ddd;
    outline: none; }
    .form-sign input:focus {
      border: 1px solid #DE0B8C; }

.item-sign {
  margin-bottom: 20px; }

.title-cart-popup {
  padding: 10px 15px;
  position: fixed;
  width: 350px;
  right: 0;
  background: white;
  z-index: 999;
  top: 0;
  border-bottom: 1px solid #ddd; }
  .title-cart-popup h2 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #242426;
    font-weight: 600; }
    .title-cart-popup h2 span {
      text-transform: none;
      font-size: 14px;
      color: #757575;
      margin-left: 15px;
      font-weight: normal; }
  .title-cart-popup i {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 22px; }

.inforbts {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  opacity: 0;
  align-items: center;
  left: 0;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  background: rgba(0, 0, 0, 0.4); }
  .inforbts a {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .inforbts a h4 {
      text-transform: uppercase;
      color: white;
      display: inline-block;
      width: 100%;
      position: relative; }
      .inforbts a h4::after {
        width: 60px;
        height: 1px;
        background: #FFCB05;
        display: block;
        content: '';
        margin: auto; }
    .inforbts a p {
      color: white; }

.container {
  position: relative; }

.head-top {
  position: absolute;
  right: 30px;
  top: -24px; }

.blogs-section {
  background: #F6F6F8; }

.item-bst-small {
  float: left;
  width: 570px; }
  .item-bst-small .item-bts {
    float: left;
    width: 50%; }

.promotion-secetion-page .head-link-promotion {
  background: #f4f4f4;
  margin-bottom: 30px; }
  .promotion-secetion-page .head-link-promotion ul {
    text-align: center;
    padding: 0; }
    .promotion-secetion-page .head-link-promotion ul li {
      padding: 0;
      display: inline-block; }
      .promotion-secetion-page .head-link-promotion ul li a {
        padding: 15px 20px;
        display: inline-block;
        text-align: center;
        color: #242426;
        font-weight: 500;
        text-transform: uppercase;
        position: relative; }
        .promotion-secetion-page .head-link-promotion ul li a::after {
          height: 3px;
          width: 100%;
          display: block;
          content: '';
          background: #f4f4f4;
          margin-top: 13px;
          margin-bottom: -15px; }
        .promotion-secetion-page .head-link-promotion ul li a.active {
          color: #DE0B8C; }
          .promotion-secetion-page .head-link-promotion ul li a.active::after {
            height: 3px;
            width: 100%;
            display: block;
            content: '';
            background: #DE0B8C;
            margin-top: 13px;
            margin-bottom: -15px; }

.list-promotion .services-item {
  margin-top: 50px; }
.list-promotion .col-lg-4 .detail-btn {
  opacity: 0; }
.list-promotion .col-lg-4:hover .detail-btn {
  opacity: 1; }

.box-search {
  float: left;
  margin: 0 15px;
  background: #F6F6F8;
  border-radius: 50px; }
  .box-search input {
    height: 28px;
    border: 0;
    outline: none;
    width: 140px;
    background: none;
    padding: 0 10px; }
  .box-search i {
    margin-right: 10px; }

.change-brand {
  float: left;
  margin: 0 10px; }
  .change-brand img {
    float: left;
    margin-right: 5px; }
  .change-brand i {
    margin-right: 5px;
    float: left;
    margin-top: 6px; }
  .change-brand span {
    float: left;
    font-size: 13px;
    color: #242426; }
  .change-brand a:hover i, .change-brand a:hover span {
    color: #DE0B8C !important; }
  .change-brand a:hover i::before {
    color: #DE0B8C !important; }

.service-thumb a {
  position: relative;
  padding-top: 70%;
  display: block;
  background: #fff; }
  .service-thumb a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    z-index: 0; }

.social-box {
  float: left; }
  .social-box a {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    background: #F6F6F8;
    text-align: center;
    margin: 0 3px;
    padding-top: 2px; }
    .social-box a i {
      color: #686868; }
    .social-box a:hover {
      background: #DE0B8C; }
      .social-box a:hover i {
        color: white; }

.account-head i {
  color: #757575;
  font-size: 9px;
  margin: 10px 0 0 5px; }
.account-head img {
  height: 20px;
  margin: 2px 5px 0 0 !important;
  float: left; }

.box-bst {
  display: grid;
  grid-template-columns: 50%  25% 25%;
  grid-gap: 0px; }

.smal-blogs ul li {
  position: relative;
  display: flex;
  margin-bottom: 30px; }
  .smal-blogs ul li a {
    float: left; }
  .smal-blogs ul li .infor-blogs {
    width: 100%; }
  .smal-blogs ul li a {
    font-size: 14px;
    font-weight: normal;
    color: #242426;
    text-decoration: none !important; }
  .smal-blogs ul li:hover a {
    color: #DE0B8C !important; }

.infor-news-lager h3 a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.avatar-small-news {
  float: left;
  width: 390px; }
  .avatar-small-news a {
    width: 100%; }

.error-section .error-body {
  text-align: center; }
  .error-section .error-body img {
    height: 300px; }

.error-body {
  width: 700px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  margin: 100px auto;
  padding: 20px;
  text-align: center; }
  .error-body span {
    font-size: 16px;
    width: 100%;
    padding: 20px 0;
    display: inline-block; }
  .error-body label {
    float: none;
    text-transform: none;
    font-weight: normal; }

.img-before-after {
  width: 100%;
  position: relative;
  padding-top: 68%;
  display: block; }
  .img-before-after img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.smal-blogs ul li a, .news-paper-blogs .infor-newspaper h4 a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.news-paper-blogs .infor-newspaper p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.item-product h3 a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.cart-head {
  float: left;
  position: relative;
  margin-left: 5px;
  cursor: pointer; }
  .cart-head img {
    float: left; }
  .cart-head span {
    position: absolute;
    top: 0px;
    right: -17px;
    width: 22px;
    height: 22px;
    background: #FFCB05;
    text-align: center;
    font-size: 11px;
    color: #242426;
    border-radius: 50%;
    padding: 0;
    line-height: 20px; }

.infor-blogs {
  padding-left: 0; }
  .infor-blogs a {
    padding: 0;
    display: inline-block;
    width: 100%;
    font-size: 16px !important;
    font-weight: 600 !important; }
  .infor-blogs .title-cate {
    text-transform: uppercase;
    color: #757575 !important;
    font-weight: normal !important;
    font-size: 13px; }
    .infor-blogs .title-cate:hover {
      color: #FFCB05 !important;
      text-decoration: underline; }

.blogs-section {
  background: #F6F6F8; }

.lager-news {
  background: #FFFFFF;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.13);
  border-radius: 4px; }
  .lager-news a img {
    width: 100%; }

.lager-news > a {
  position: relative;
  padding-top: 57%;
  display: block; }
  .lager-news > a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.avatar-small-news a {
  position: relative;
  padding-top: 57%;
  display: block; }
  .avatar-small-news a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.infor-news-lager {
  padding: 15px 20px;
  display: inline-block;
  width: 100%; }
  .infor-news-lager label {
    text-transform: uppercase;
    font-size: 12px;
    color: #757575; }
  .infor-news-lager h3 {
    display: inline-block;
    width: 100%; }
    .infor-news-lager h3 a {
      font-size: 22px; }

.photo-customer-section {
  background: url(../img/background-photo.svg) no-repeat center top;
  display: inline-block;
  width: 100%; }
  .photo-customer-section h2 {
    color: white; }
  .photo-customer-section i {
    color: white !important;
    border-color: white !important; }
  .photo-customer-section ul li button {
    background: white !important; }
  .photo-customer-section ul li.slick-active button {
    background: #FFCB05 !important; }

.news-paper-section {
  background: #FFCB05; }
  .news-paper-section h2 {
    color: #242426; }
  .news-paper-section i {
    color: white !important;
    border-color: white !important; }
  .news-paper-section ul li button {
    background: white !important; }
  .news-paper-section ul li.slick-active button {
    background: #f1ba18 !important; }

.after-before-customer {
  display: inline-block;
  width: 100%;
  padding: 0 15px; }
  .after-before-customer img {
    width: 100%; }
  .after-before-customer p {
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%; }
    .after-before-customer p b {
      font-size: 18px;
      color: white;
      font-weight: 600;
      display: inline-block;
      width: 100%; }
    .after-before-customer p span {
      font-size: 14px;
      color: white;
      display: inline-block;
      width: 100%; }

.news-paper-blogs {
  position: relative;
  padding: 20px;
  background: white;
  padding-left: 170px;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.13);
  border-radius: 4px; }
  .news-paper-blogs .viewall {
    text-align: right;
    margin: 0; }
  .news-paper-blogs img {
    width: 140px;
    position: absolute;
    left: 10px;
    top: 20px; }
  .news-paper-blogs .infor-newspaper h4 a {
    font-size: 16px;
    color: #242426;
    font-weight: 600; }
  .news-paper-blogs .infor-newspaper h4:hover a {
    color: #DE0B8C !important; }
  .news-paper-blogs .infor-newspaper p {
    font-size: 13px; }
  .news-paper-blogs .infor-newspaper img {
    position: relative !important;
    width: 18px !important;
    left: auto !important;
    top: auto !important;
    margin-top: 4px; }

.tab-slide-head ul {
  border: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 563px;
  margin: auto; }
  .tab-slide-head ul li {
    padding: 0 20px; }
    .tab-slide-head ul li.active a .icon-tabs {
      margin-bottom: 20px;
      display: inline-block;
      border: 1px solid #DE0B8C;
      background: white; }
      .tab-slide-head ul li.active a .icon-tabs img.icon-default {
        display: none; }
      .tab-slide-head ul li.active a .icon-tabs img.icon-active {
        display: block; }
    .tab-slide-head ul li a {
      color: #757575; }
.tab-slide-head a.active .icon-tabs {
  border: 1px solid #DE0B8C;
  background: white; }
  .tab-slide-head a.active .icon-tabs img.icon-default {
    display: none; }
  .tab-slide-head a.active .icon-tabs img.icon-active {
    display: block; }
.tab-slide-head a.active span {
  color: #DE0B8C; }

.tab-content {
  margin-top: 30px;
  display: inline-block;
  width: 100%; }

.icon-tabs {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  background: #F5F5F5;
  margin: auto;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  display: flex;
  align-items: center; }
  .icon-tabs img {
    margin: auto; }
    .icon-tabs img.icon-default {
      display: block; }
    .icon-tabs img.icon-active {
      display: none; }

/*-- slider css--*/
/* fixme: rename choose_slider_items to animated-slider or something */
.choose_slider_items li {
  position: relative;
  list-style: none;
  display: none;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.choose_slider_items li > a {
  position: relative;
  padding-top: 70%;
  display: block;
  background: #fff; }
  .choose_slider_items li > a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.choose_slider_items .previous_hidden {
  display: block;
  transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  opacity: 0.0;
  position: absolute;
  top: 40px;
  left: -5%;
  z-index: 0; }

.choose_slider_items .next_hidden {
  display: block;
  transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  opacity: 0.0;
  position: absolute;
  top: 40px;
  right: -5%;
  z-index: 0; }

.choose_slider_items .previous_item {
  display: block;
  transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  background: white;
  position: absolute;
  top: 40px;
  left: 8%;
  z-index: 1;
  width: 50%; }
  .choose_slider_items .previous_item img {
    opacity: 0.65; }

.choose_slider_items .next_item {
  display: block;
  transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  position: absolute;
  top: 40px;
  right: 8%;
  z-index: 1;
  width: 50%;
  background: white; }
  .choose_slider_items .next_item img {
    opacity: 0.65; }

.choose_slider_items .previous_item_2 {
  display: block;
  transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  background: white;
  position: absolute;
  top: 40px;
  left: -5%;
  z-index: 0;
  width: 50%; }
  .choose_slider_items .previous_item_2 img {
    opacity: 0.35; }

.choose_slider_items .next_item_2 {
  display: block;
  transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  background: #fff;
  position: absolute;
  top: 40px;
  right: -5%;
  z-index: 0;
  width: 50%; }
  .choose_slider_items .next_item_2 img {
    opacity: 0.35; }

.choose_slider_items .current_item {
  display: block;
  position: absolute;
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  top: 0;
  left: 25%;
  z-index: 2;
  width: 50%; }

.tab-content-services {
  margin-top: 20px; }

.tab-body-services .tab-content-services.active {
  display: block !important; }

.breadcrumb {
  padding: 0;
  background: none;
  padding: 10px 0; }
  .breadcrumb a, .breadcrumb span {
    font-size: 12px;
    float: left;
    color: #757575; }
  .breadcrumb a:hover {
    color: #DE0B8C; }
  .breadcrumb i {
    float: left;
    margin-top: 6px; }
  .breadcrumb span {
    font-size: 10px;
    margin: 8px 10px; }

.calendar-details i, .calendar-details span {
  color: #757575; }

.blogs-detail h1 {
  color: #242426 !important;
  font-weight: normal;
  font-size: 38px;
  margin-bottom: 0; }
.blogs-detail img {
  max-width: 100%;
  margin-bottom: 20px; }
.blogs-detail h2 {
  font-size: 24px;
  color: #242426;
  margin-bottom: 20px; }
.blogs-detail p {
  text-align: justify; }

.tag {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .tag a {
    padding: 5px 10px;
    border: 1px solid #DE0B8C;
    border-radius: 50px;
    color: #DE0B8C; }
    .tag a:hover {
      background: #DE0B8C;
      color: white; }

.share {
  text-align: right;
  display: inline-block;
  width: 100%;
  float: right;
  margin-top: 20px;
  display: flex;
  width: auto; }
  .share img {
    margin: 0 3px; }

.title-head-blogs-other {
  position: relative; }
  .title-head-blogs-other h2 {
    font-size: 24px;
    color: #242426;
    text-align: center;
    text-transform: uppercase;
    margin: 0; }
  .title-head-blogs-other::after {
    position: absolute;
    background: url(../img/line-blogs.svg) no-repeat center bottom;
    height: 20px;
    display: inline-block;
    width: 100%;
    content: ''; }

.title-head-services-other {
  position: relative; }
  .title-head-services-other h2 {
    font-size: 24px;
    color: #242426;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px; }
  .title-head-services-other::after {
    margin: auto;
    width: 100px;
    background: #DE0B8C;
    height: 3px;
    content: '';
    display: inherit; }

.box-news-focus {
  display: inline-block;
  width: 100%; }

.right-blogs-slidebar {
  background: #FFFFFF;
  padding: 15px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09); }
  .right-blogs-slidebar h2 {
    font-size: 22px;
    color: #DE0B8C;
    margin-bottom: 20px; }

.box-product-page h2 {
  width: 100%;
  display: inline-block;
  font-weight: normal;
  font-size: 26px;
  padding: 0 10px;
  color: #242426; }
.box-product-page .item-product {
  margin-top: 20px; }
  .box-product-page .item-product:hover .btn-product {
    opacity: 1; }
.box-product-page .btn-product {
  opacity: 0; }

.box-catelogy {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px; }
  .box-catelogy h2 {
    font-size: 18px;
    color: #242426;
    text-transform: uppercase; }
  .box-catelogy ul {
    padding: 0;
    margin: 0; }
    .box-catelogy ul li a {
      font-size: 14px;
      padding: 5px 0;
      color: #242426;
      display: inline-block;
      width: 100%; }
    .box-catelogy ul li.active a, .box-catelogy ul li:hover a {
      color: #DE0B8C; }

.head-product {
  background: url(../img/head-product.png) no-repeat center top; }

.blogs-slidebar {
  display: flex; }
  .blogs-slidebar img {
    width: 120px; }
  .blogs-slidebar .infor-blogs-lager {
    padding: 0 0 0 15px;
    background: none; }
  .blogs-slidebar a {
    width: 200px; }
    .blogs-slidebar a img {
      width: 100%; }
  .blogs-slidebar .infor-blogs-lager a {
    font-size: 14px;
    line-height: 22px; }

.ads-img img {
  width: 100%; }

.blogs-other {
  padding-bottom: 0; }
  .blogs-other .row {
    padding-bottom: 0; }
    .blogs-other .row .lager-blogs {
      margin-bottom: 0; }

.blogs-other .section-nail-blogs > a {
  padding-top: 57% !important; }

.head-mobile {
  display: none; }
  .head-mobile .header-menu-wrap {
    display: block !important; }

@media all and (max-width: 1600px) {
  .page-header {
    height: 380px; } }
@media all and (max-width: 1201px) {
  .page-header {
    height: 270px; }

  .gallery-section .gallery-box {
    min-height: 430px; }

  .avatar-small-news a {
    padding-top: 53%; }

  .services-secetion-page .services-item {
    margin-bottom: 30px; } }
@media all and (max-width: 1000px) {
  .gallery-section .container {
    padding: 0 !important;
    max-width: 98%; }

  .gallery-section .gallery-box {
    min-height: 370px !important; }

  .right-head-MB {
    position: absolute;
    right: 0;
    top: 25px; }
    .right-head-MB .account-head img {
      height: 23px;
      margin: 0 0 0 30px !important; }

  .menu-social {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 15px 30px 15px; }
    .menu-social .menu-close i {
      font-size: 20px;
      color: #242426; }
    .menu-social .social-box {
      position: absolute;
      right: 10px;
      top: 25px;
      display: block !important; }

  .sticky-header {
    display: none; }

  .content-head-MB {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 0px 15px; }
    .content-head-MB .menu-search {
      display: flex;
      width: auto;
      float: left;
      margin-top: 25px;
      position: absolute; }
      .content-head-MB .menu-search i {
        font-size: 20px;
        color: #242426;
        margin-right: 30px; }
    .content-head-MB a img {
      height: 70px; }

  body {
    padding-top: 80px; }

  .head-mobile {
    width: 100%;
    display: inline-block;
    padding: 5px 0px;
    position: fixed;
    z-index: 11;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    top: 0;
    left: 0; }
    .head-mobile .header-menu-wrap {
      display: none;
      float: left;
      position: relative;
      top: 0; }

  .show-menu-MB {
    width: 300px;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 99;
    box-shadow: -4px 0px 14px rgba(0, 0, 0, 0.25);
    top: 0;
    background: #fff;
    left: -2000px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .show-menu-MB.active {
      display: block !important;
      left: 0; }

  .item-product {
    margin-top: 10px !important; }

  .header.header-one {
    display: none; }

  .search-MB {
    position: fixed;
    width: 100%;
    display: none;
    top: 80px;
    padding: 15px;
    background: white;
    left: 0;
    border-top: 1px solid #e4e4e4; }
    .search-MB .box-search-box {
      display: block !important;
      padding-right: 40px;
      position: relative; }
      .search-MB .box-search-box input {
        border: 0;
        outline: none;
        width: 100%; }
      .search-MB .box-search-box i {
        position: absolute;
        right: 6px;
        top: 4px;
        font-size: 20px; }

  .search-icon .ti-close {
    display: none; }

  .show-search .ti-search {
    display: none !important; }
  .show-search .ti-close {
    display: block; }

  .show-box-search {
    display: block !important; }

  .ti-arrow-left {
    left: -30px !important; }

  .ti-arrow-right {
    right: -30px !important; } }
@media all and (max-width: 767px) {
  .phone-call-active {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 99; }

  .popup-gallery .modal-dialog {
    padding: 0 10px;
    margin: 20px auto; }

  .popup-gallery .appoiment-btn-popup {
    margin: 0 0 10px 0 !important; }

  .blogs-other .section-nail-blogs > a {
    padding-top: 30% !important; }

  .hotline-contact {
    margin-bottom: 12px; }

  .title-gallery {
    padding: 20px 10px 0 10px; }

  .description-gallery {
    padding: 0 10px !important; }
    .description-gallery p {
      padding-right: 0; }

  .services-secetion-page .services-item {
    margin-bottom: 10px !important; }

  .services-secetion-page .page-services-slide {
    margin-bottom: 0px; }

  .page-header {
    height: 200px; }

  .location-box iframe {
    height: 350px; }

  .gallery-item {
    margin-top: 10px; }

  .popup-gallery .modal-content .modal-close {
    position: absolute;
    right: -9px;
    top: -17px; }

  .sub-cate-blogs-section .lager-blogs > a, .section-nail-blogs > a {
    float: left;
    width: 50%;
    padding-top: 30% !important; }

  .gallery-page .col-lg-4.col-md-6.sm-padding {
    width: 50%; }

  .section-nail-blogs .infor-blogs-lager {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-top: 0 !important; }

  .at-button {
    z-index: 10000000;
    display: block;
    width: 70px;
    background: #DE0B8C;
    text-align: center;
    padding-top: 13px;
    height: 70px;
    border-radius: 50%;
    -webkit-animation: at-ripple 0.6s linear infinite;
    animation: at-ripple 0.6s linear infinite; }

  .page-header h1 {
    font-size: 24px;
    line-height: 35px; }

  .gallery-thumnail img {
    width: 50%; }

  @-webkit-keyframes at-ripple {
    0% {
      box-shadow: 0 4px 10px rgba(222, 11, 140, 0.1), 0 0 0 0 rgba(222, 11, 104, 0.1), 0 0 0 5px rgba(222, 11, 104, 0.1), 0 0 0 10px rgba(222, 11, 104, 0.1); }
    100% {
      box-shadow: 0 4px 10px rgba(222, 11, 104, 0.8), 0 0 0 5px rgba(222, 11, 104, 0.8), 0 0 0 10px rgba(222, 11, 104, 0.8), 0 0 0 20px rgba(222, 11, 104, 0); } }
  @keyframes at-ripple {
    0% {
      box-shadow: 0 4px 10px rgba(222, 11, 104, 0.1), 0 0 0 0 rgba(222, 11, 104, 0.1), 0 0 0 5px rgba(222, 11, 104, 0.1), 0 0 0 10px rgba(222, 11, 104, 0.1); }
    100% {
      box-shadow: 0 4px 10px rgba(222, 11, 104, 0.1), 0 0 0 5px rgba(222, 11, 104, 0.1), 0 0 0 10px rgba(222, 11, 104, 0.1), 0 0 0 20px rgba(222, 11, 104, 0); } }
  .scroll-to-top {
    width: 100%;
    height: 100%;
    border: 1px solid #de0b8c;
    text-align: center;
    background-color: #ffffff;
    font-size: 15px;
    padding: 0;
    line-height: 40px;
    color: #de0b8c;
    border-radius: 50%;
    text-decoration: none;
    transform: translateY(150%);
    transition: all .3s ease-in-out; }

  .show-menu-MB {
    width: 100% !important; }

  .bts-lager {
    grid-row: 1;
    grid-column: 3 / 1; }

  .box-bst {
    grid-template-columns: 50% 50%; }

  .slider-MB {
    display: block !important; }

  .slider-PC {
    display: none !important; }

  .tab-slide-head ul {
    width: 100%; }

  .tab-slide-head ul li {
    padding: 0 20px;
    margin: 5px auto; }

  .section-heading h2 {
    font-size: 25px;
    line-height: 38px; }

  .choose_slider_items .current_item {
    left: 0;
    padding: 0 10px;
    width: 100%; }

  .gallery-section .gallery-box {
    min-height: 339px !important; }

  .gallery-box .next-arrow-gallery, .gallery-box .prev-arrow-gallery {
    top: 170px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #dadada;
    align-items: center; }
    .gallery-box .next-arrow-gallery i, .gallery-box .prev-arrow-gallery i {
      border: 0 !important; }

  .infor-news-lager h3 a {
    font-size: 16px; }

  .ti-arrow-right.right.slick-arrow, .ti-arrow-left.left.slick-arrow {
    background: #fff;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #dadada;
    align-items: center; }

  .photo-customer-section i, .news-paper-section i {
    color: #6f6f6f !important; }

  .services-section .services-item, .after-before-customer, .item-papernews {
    padding: 0; }

  .infor-blogs a {
    padding: 0;
    display: inline-block;
    width: 100%;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 21px !important;
    -webkit-line-clamp: 3 !important; }

  .gallery-section .box-bst {
    margin-top: 0; }

  .menu-close {
    float: left; }

  .popup-sign-in .content-signin {
    width: 90%;
    padding-top: 30px; }

  .signup-box {
    position: relative;
    right: auto;
    top: 0;
    text-align: left !important; }

  .menu-icon {
    float: left;
    width: 27px;
    margin-right: 28px; }

  .tab-slide-head ul li {
    padding: 0 5px;
    margin: 5px auto; }
    .tab-slide-head ul li span {
      font-size: 12px; }

  .icon-tabs img {
    margin: auto;
    height: 24px; }

  .icon-tabs {
    width: 40px;
    height: 40px; }

  .search-MB {
    position: fixed;
    width: 100%;
    display: none;
    top: 80px;
    padding: 15px;
    background: white;
    left: 0;
    border-top: 1px solid #e4e4e4; }
    .search-MB .box-search-box {
      display: block !important;
      padding-right: 40px;
      position: relative; }
      .search-MB .box-search-box input {
        border: 0;
        outline: none;
        width: 100%; }
      .search-MB .box-search-box i {
        position: absolute;
        right: 6px;
        top: 4px;
        font-size: 20px; }

  .search-icon .ti-close {
    display: none; }

  .show-search .ti-search {
    display: none !important; }
  .show-search .ti-close {
    display: block; }

  .show-box-search {
    display: block !important; }

  .list-promotion .services-item {
    margin-top: 0 !important; } }

/*# sourceMappingURL=style.css.map */
